/*************************************************************
** default - white
*************************************************************/


.header {
    background: url(header_bg.png) 0 0 repeat-x;
}

.logo {
    background: url(logo.png) 0 0 no-repeat;
}
.weather-icon {
    background-image: url(weather-icon.png);
}




#container{
    /*background: url(bg.jpg) 0 0 repeat;*/
    background: #fff;
}

/* white */

.zdl .btn {
    background-position: -93px -36px;
}

.nav,
.nav li {
    border: 0;
}

.nav li a {
    padding-left: 16px;
    padding-right: 15px;
    color: #fff;
}

.screen-theme .change-theme-btn {
    width: 16px;
    height: 16px;
    background-position: -247px -36px;
    margin-top: 9px;
    margin-left: 9px;

}
.screen-theme li {
    margin: 0 4px;
}

#K_change_skin_btn, .screen-change-btn a {
    color: #fff;
}
.uc-menu .nm {
    background: #fff;
    line-height: 25px;
}

.thl .ctls {
    background: #fff;
    box-shadow: inset 1px 1px 2px #ddd;
    border: 1px solid #d7d7d7;
}

.header-weather .region{
    color: #2793e6;
}
.thl .subcate a.on, 
.thl .subcate a.on:hover,
.thl .cate a.on,
.thl .cate a.on:hover,
.thl .subcate a:hover,
.thl .cate a:hover,
.thl .cate-in a:hover {
    color: #cb322c;
}



.zld ul li {
    margin: 5px 3px 0 0;
}

.zld ul li .nm,
.zld ul li .ctl {
    border: 1px solid #c3c3c3;
    background-color: #f4f4f4;
    /*background: url(zld-btn-back.png) 0 0 repeat-x;*/
}
.zld ul li .nm {
    border-right: 0;
}
.zld ul li .ctl {
    border-left: 0;
}
.zld ul li .ctl i {
    width: 26px;
    height: 26px;
    display: block;
    background-image: url(sprite.png);
    background-position: -2px -1px;
    background-repeat: no-repeat;
}

.zld ul .add .ctl {
    /*border-left: 1px solid #bbb6ad;*/
    box-shadow: inset 1px 1px 2px #cdcdcd;
    background: #e9e9e9;
    border: 0;
    border-radius: 35px;
    width: 30px;
    height: 30px;
}
.zld ul li.add .ctl i {
    margin-top: 2px;
    margin-left: 2px;
    background: url(sprite.png) -31px -1px no-repeat;
}

.zld ul li .nm:hover,
.zld ul li .ctl:hover {
    box-shadow:inset 1px 1px 5px #ccc;
}

.app-icon-list .app-more .more {
    margin-right: -5px;
    background-image: url(sprite.png);
    background-repeat: no-repeat;
}
            
.app-icon-list .ang {
    opacity: 1;
    border-width: 13px
}
.app-icon-list .ang-back {
    border-color: transparent transparent #bbb;
    right: 15px;
    top: -27px;
    border-width: 13px
}

.cal-date-marks-table .blue {
    background: url(mark-back.png) 0 0 repeat-x;
}

.extra-calendar .cal-header .cal-header-date-prev,
.extra-calendar .cal-header .cal-header-date-next {
    background-image: url(sprite.png);
    background-repeat: no-repeat;
}

.extra-calendar .cal-day .cal-mini-month-panel td .active, 
.extra-calendar .cal-day .cal-mini-month-panel th .active {
    border-radius: 20px;
    background:#666;
}


body {
    color: #333;
}
.zld ul li .nm:hover,
.zld ul li .ctl:hover {
    background: #f4f4f4;    
}
.zld ul li .nm:hover {
    box-shadow:inset 1px 1px 2px 1px #d1d1d1;
}
.zld ul li .ctl:hover {
    box-shadow:inset 1px 1px 2px 1px #d1d1d1;
}

.box-apps {
    border-top: 1px solid #e7e7e7;
}
.box .box-hd {
    padding-top: 0;
    border-top: 1px solid #fff;
}

.app-icon-list {
    padding-top: 5px;
    height: 32px;
}

.apps {
    padding: 0;
}

.app-icon-list .app-more .more {
    width: 25px;
    height: 25px;
    display: block;
    background-position: -62px -1px;
    border-radius: 30px;
    box-shadow: inset 1px 1px 2px #cdcdcd;
    background-color: #e9e9e9;
}
.app-icon-list .app-more .more:hover {
    box-shadow:inset 1px 1px 3px #ddd;  
}
.apps ul li:hover, .apps ul li:hover a, .apps ul li:hover a:hover {
    color: #cb322c;
}


.box-apps .box-bd {
    padding-top: 0;
}
.extra-box {
    width: 463px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 0;
}
.title-tabs {
    padding: 10px 0;
    margin: 0;
    border-top: 1px solid #fff;
}
.cal-header {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e7e7e7;
}
.cal-date-marks-table {
    margin-top: -1px;
    border-right: 1px solid #e7e7e7;
}
.extra-calendar .cal-day .cal-mini-month-panel {
    border-left: 1px solid #fff;
}
.extra-calendar .cal-body {
    border-top: 1px solid #fff;
}
.desc-input-div {
    background: transparent;
}
.desc-input-div input {
    width: 208px;
    height: 11px;
    line-height: 11px;
    border: 2px solid #a8c0ce;
    box-shadow: inset 1px 1px 4px #ccc;
    border-radius: 2px;
}
.extra-calendar .cal-day .cal-mini-month-panel .another-month a,
.extra-calendar .cal-day .cal-mini-month-panel .another-month a:hover,
.extra-calendar .cal-month .another-month a,
.extra-calendar .cal-month .another-month a:hover {
    color: #bbb;
}


.thl a,
.thl .cate-in a,
.header-weather {
    color: #333;
}

.title-tabs li{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
}
.title-tabs span {
    color: #333;
}

.title-tabs li:hover{
    color: #333;
    background: none;
    border-bottom: 3px solid #cb322c;
}

.title-tabs .active{
    color: #333;
    background: none;
    border-bottom: 3px solid #cb322c;
}
.widescreen .extra-calendar .cal-header .active{
    border-bottom: 3px solid #cb322c;
}

.pic-news-tabs a {
    height: 4px;
}

.text-news p a, 
.text-news p a:active,
.pic-news-title a {
    color: #333;
}
.text-news p a:hover {
    color: #cb322c;
}

.text-news .more-news a, 
.text-news .more-news a:active,
.text-news .more-news a:hover {
    color: #2793e6;
}



.pic-news-tabs .active {
    background: #cb322c;
}

.extra-calendar .cal-header .cal-view-select-btn:hover,
.extra-calendar .cal-header .active {
    border-bottom: 3px solid #cb322c;
}


.extra-calendar .cal-header .cal-view-select-btn {
    padding-bottom: 0px;
    width: 15px;
}
.cal-date-marks-table li .dot {
    background: #333;
}

.extra-calendar .cal-header .cal-header-date-prev {
    background-position: 0 -30px;
}
.extra-calendar .cal-header .cal-header-date-next {
    background-position: -30px -30px;
}


.extra-calendar .cal-day .cal-mini-month-panel td a, 
.extra-calendar .cal-day .cal-mini-month-panel th a {
    width: 15px;
    height: 15px;
    line-height: 15px;
}

.extra-calendar .cal-day .cal-mini-month-panel table,
.extra-calendar .cal-day .cal-mini-month-panel td a, 
.extra-calendar .cal-day .cal-mini-month-panel th a,
.extra-calendar .cal-header button,
.extra-calendar .cal-header .cal-header-date {
    color: #333;
}

.cal-date-marks-table li {
    border-bottom: 1px dashed #dcdcdc;
}

.cal-date-marks-table .blue {
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #2971c7;
    padding: 0 5px;
}

.cal-month table th, .cal-week table th {
    border-right: 1px solid #e7e7e7;
}

.cal-month table td, .cal-week table td {
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}

.extra-calendar .cal-month table, .extra-calendar .cal-week table {
    width: 465px;
}

.footer {
    margin-top: 50px;
    background: #fff;
}
    .site-info {
        padding: 17px 0;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
    }
    .footer .site-info a,
    .footer .site-info a:active {
        color: #2793e6;
        text-decoration: none;
    }
    .footer .site-info a:hover {
        color: #cb322c;
        text-decoration: underline;
    }

.friend-links li a,
.friend-links li a:active {
    color: #999;
    text-decoration: underline;
}
.site-info li a:hover,
.friend-links li a:hover {
    color: #cb322c;
}

.site-copyright {
    color: #999;
    margin-bottom: 50px;
}

.widescreen .extra-box {
    width: 569px;
}

.widescreen .text-news {
    width: 320px;
}
.widescreen .pic-news-title {
    font-size: 16px;
}

.widescreen .cal-date-marks-table {
    width: 350px;
}

.widescreen .extra-calendar .cal-day .cal-mini-month-panel {
    overflow: hidden;
    width: 220px;
    height: 375px;
    background: transparent;
    margin: -377px 0 0 351px;
}
.widescreen .cal-mini-month-panel table {
    width: 205px;
}

.extra-calendar .cal-header .pr10 {
    padding-right: 0;
}
.widescreen .extra-calendar .cal-header .pr10 {
    padding-right: 10px;
}
.widescreen .desc-input-div {
    width: 280px;
}
.widescreen .desc-input-div input {
    padding: 5px 5px;
    width: 265px;
    height: 16px;
    line-height: 16px;
}


.cal-date-marks-table li .delete-btn {
    color: #fff;
    display: inline-block;
    background: url(close.png) 0 0 no-repeat;
    height: 13px;
    line-height: 13px;
    width: 13px;
    position: absolute;
    overflow: hidden;
    top: 7px;
    right: 9px;
    color: transparent;
    text-decoration: none;
    text-align: center;
}
.cal-date-marks-table li .delete-btn:hover {
    background-position: 0 -13px;
}

.widescreen .cal-date-marks-table li .delete-btn{
    top: 9px;
}

.cal-date-marks-table li .add-btn,
.cal-date-marks-table li .add-btn:hover{
    color: #333;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    border-radius: 5px;
    margin-top: 5px;
    background-image: url(add-btn.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}


.widescreen .cal-date-marks-table li .add-btn,
.widescreen .cal-date-marks-table li .add-btn:hover{
    margin-top: 7px;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
        .logo {
            background: url(logo@2x.png) 0 0 no-repeat;
            background-size: 264px auto;
        }

        .thl .ctls .btn {
            background-image: url(sprite@2x.png);
            background-position: -65px -29px;
            background-repeat: no-repeat;
            background-size: 120px auto;
        }

        .weather-icon {
           background-image: url(weather-icon@2x.png);
           background-size: 161px auto;
        }

        .zld ul li .ctl i,
        .zld ul li.add .ctl i,
        .app-icon-list .app-more .more,
        .extra-calendar .cal-header .cal-header-date-prev,
        .extra-calendar .cal-header .cal-header-date-next {
            background-image: url(sprite@2x.png);
            background-size: 120px  auto;
        }

}


