@charset "utf-8";
/* CSS Document */

/*全局定义开始*/
*{margin:0; padding:0;}
ul{list-style:none; margin:0;padding:0;}
img{border:none;}
a{text-decoration:none; color:#000;}
body{font-family: "宋体"; font-size:12px; text-align:center; color:#000; background-color:#d2c825; background-image:url(../images/corn_bg.gif); background-position:top; background-repeat:repeat-x;}
.margin{margin:0 auto;}
.border{border:1px solid #fad955;}
.border_top{border-top:1px solid #fad955;}
.border_left{border-left:1px solid #fad955;}
.border_bottom{border_bottom:1px solid #fad955;}
.border_right{border-right:1px solid #fad955;}
.cursor{cursor:pointer;}
.nocursor{cursor:default;}
.not_allowed{cursor: not-allowed}
.block{display:block;}
.inline{display:inline;}
.overflow_hidden{overflow:hidden;}
.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font15{font-size:15px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font20{font-size:24px;}
.bold{font-weight:bold;}
.tleft{text-align:left;}
.tright{text-align:right;}
.tcenter{text-align:center;}
.fleft{float:left;}
.fright{float:right;}
.none{display:none;}
.green{color:#339900;}
.red{color:#ff0000;}
.grey{color:#d8d7d2;}
.white{color:#FFF;}
.orange_bg{background-color:#f1c30b;}
.margin_left5{margin-left:5px;}
.margin_right5{margin-right:5px;}
.margin_top5{margin-top:5px;}
.margin_top8{margin-top:8px;}
.margin_top10{margin-top:10px;}
.padding_top10{padding-top:10px;}
.margin_top15{margin-top:15px;}
.margin_top20{margin-top:20px;}
.margin_top30{margin-top:30px;}
.margin_top80{margin-top:80px;}
.padding_top23{padding-top:23px;}
.width{width:980px;}
.clear{clear:both;}
/*请求提示层*/
.layer_div_img{position: absolute; left: 45%; top: 50%;z-index: 99999}

.messager_span{color: #FF0000;margin:0;float: none}/*提示框*/
/* 英语角首页CSS */
.top{height:32px; line-height:32px; margin-top:4px; overflow:hidden;}
#direct_text{width:220px; border:1px solid #ccc; height:22px; line-height:18px; color:#666; padding:0 3px; margin-top:5px; margin-left:10px; filter:alpha(opacity=80);opacity:0.80;
             -webkit-border-radius:6px;
             -moz-border-radius:6px;
             border-radius:6px;
             behavior:url(css/PIE.htc);
}
.top ul{float:right; display:inline;}
.top li{float:left; margin-left:18px;}
.top li a:hover{color:red;}
.sinaWeatherTool{margin-top:2px;}
.main{ background:url(../images/white_bg.png) repeat; padding-top:8px; height:618px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px; behavior: url(css/PIE.htc);}
.nav{
    height:96px;
    width:958px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background: #FEFEFC;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFC), to(#fdf3cc));
    background: -webkit-linear-gradient(#FEFEFC, #fdf3cc);
    background: -moz-linear-gradient(#FEFEFC, #fdf3cc);
    background: -ms-linear-gradient(#FEFEFC, #fdf3cc);
    background: -o-linear-gradient(#FEFEFC, #fdf3cc);
    background: linear-gradient(#FEFEFC, #fdf3cc);
    -pie-background: linear-gradient(#FEFEFC, #fdf3cc);
    behavior: url(css/PIE.htc);
}
.logo{width:300px; height:53px; margin-left:13px; margin-right:25px; margin-top:24px; display:inline;}
.logo img{float:left; width:104px; height:51px;}
.logo_right,.logo_right_top,.logo_right_down{width:194px;}
.logo_right_top,.logo_right_down{height:25px; line-height:25px; text-indent:10px;}
.logo_right_down{background:url(../images/black_point.png) 59px center no-repeat;}
.logo_right_down span{margin-right:10px;}
.categorys .grey,.object .grey,.level .grey{text-decoration:none; color:#d8d7d2;}
.categorys .red,.object .red,.level .red{text-decoration:none; color:#ff5151;}
.categorys a,.object a,.level a{text-decoration:none; color:#666;}
.categorys{width:88px; height:81px; margin-top:8px; overflow:hidden }
.category{
    width:86px;
    height:20px;
    line-height:20px;
    text-indent:5px;
    _text-indent:4px;
    margin-top:4px;
    _margin:0 auto 4px;
    border: 1px solid #bdbcbd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background:url(../images/black_point.png) center center no-repeat;
    background-color:#FFF;
    behavior: url(css/PIE.htc);
}
/*.category span{margin-right:5px; float:right;}*/
.nav_right{width:524px; height:96px; background:url(../images/gradient_line.png) left bottom no-repeat;}
/*
.nav_right a{color:#000;}
*/
.object{width:490px; height:30px; line-height:30px; padding-top:8px; border-bottom:1px dashed #ccc; margin:0 17px;}
.object_li{width:46px; height:30px; float:left; display:inline; text-align:left;}
.object_li_last{width:30px; height:30px; float:left;}
.level{width:506px; height:56px; line-height:25px; margin-left:18px;}
.level li{width:48px; height:25px; float:left;}
/*.level_li_margin_right{margin-right:12px;}*/
.bottom{height:25px; line-height:25px;}
.bottom ul{margin-left:15px;}
.bottom li{float:left; margin:0 5px;}
.bottom li a{color:#FFF;}
.shade{position:absolute; z-index:3; display:none; background:#ccc; font-size:26px; color:red;}

.content{width:960px; height:454px;}
.content_left{width:330px; height:454px; background-color:#FFF; display:inline; overflow:hidden;}
.top_6px_radius{
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    behavior: url(css/PIE.htc);
}
.plate_rice{width:230px; height:230px; line-height:230px; margin:22px auto 0px;}
.current_rice{text-indent:150px; height:15px; display:block;}
.total_rice{text-indent:112px;}
.content_left_bottom{margin-top:95px;}
.content_left_bottom span{width:100px; height:25px; margin-left:15px; background:url(../images/login_register_bg.png) 50px center no-repeat; line-height:25px; background-color:#f1c30b; display:inline-block;}
.content_left_bottom span b{margin-left:20px;}
.content_right{width:620px; height:454px; background-color:#FFF; overflow:hidden;}
.video{width:350px; height:220px; margin-top:10px; margin-bottom:6px;position: relative}
.video_select{width:348px; height:22px; background:url(../images/video_select_bg.png) repeat-x; border: 1px solid #bdbcbd; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; behavior: url(../PIE.htc); overflow:hidden;}
.left_symbol,.middle_text,.right_symbol{cursor: pointer;margin:0 16px; _margin:0 16px; height:22px; line-height:22px; display:block;}
.left_symbol{margin-right:70px;}
.left_symbol img{float:left; margin-right:5px; margin-top:4px;}
.right_symbol img{float:right; margin-left:5px; margin-top:4px;}
.question_content{width:485px; _width:483px; height:46px; line-height:23px; margin-left:135px; _margin-left:67px;}
.question_content p{padding-right:15px;font-family: "微软雅黑";}
.answer{width:500px; height:112px; margin-left:110px; _margin-left:67px; margin-top:10px;}
.answer li{height:28px; line-height:28px; width:auto; clear:both;}
.answer li input{margin:0 5px;}
.answer li b{font-weight:100;font-family: "微软雅黑";}
.answer li span{padding-left:10px;}
.answer li .answer_status {width:15px; text-align:center; color:green; float:left; height:28px; line-height:28px;padding-right: 10px;font-family: "微软雅黑";}
.answer li .answer_status img{vertical-align: middle;width: 20px;height: 20px;}
.answer .sign{font-family: "Times New Roman";font-size: 19px;}
/*排行榜CSS*/
.pop{width:960px; height:40px; line-height:40px;}
.pop_left{width:330px; height:40px; position:relative;}
.pop_left_base{width:330px; height:40px; line-height:40px; display:block;}
.pop_left_base span{float:left; margin-left:120px;}
.pop_left_base img{float:left; margin:16px 10px;}

/*下面height:463px;*/
.pop_list{background-color:#ffffcc; width:301px; height:463px; border-bottom:none; position:absolute; z-index:5; left:0px; bottom:40px; padding:0 14px; display:none;}
/*排行榜切换*/
.top_tabs{padding-left: 56px;height: 45px;}
.top_tabs #J_topPrev{color: #666666;font-size: 28px; cursor: pointer;margin-right: 25px;}
.top_tabs #J_topNext{color: #666666;font-size: 28px; margin-left: 25px; cursor: pointer;}
#J_topCatBtn{
    width: 110px; 
    background: #FEFEFC;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFC), to(#fdf3cc));
    background: -webkit-linear-gradient(#FEFEFC, #fdf3cc);
    background: -moz-linear-gradient(#FEFEFC, #fdf3cc);
    background: -ms-linear-gradient(#FEFEFC, #fdf3cc);
    background: -o-linear-gradient(#FEFEFC, #fdf3cc);
    background: linear-gradient(#FEFEFC, #fdf3cc);
    -pie-background: linear-gradient(#FEFEFC, #fdf3cc);
    behavior: url(css/PIE.htc);
}
#J_topCatBtn:hover, #J_topCatBtn:focus, #J_topCatBtn:active, #J_topCatBtn.active, #J_topCatBtn.disabled, #J_topCatBtn[disabled] {background-color: #FDF3CC;color: #333333;}
#J_topCatBtn .caret {border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #000000;margin-left: 5px;}
.cat_name_span{letter-spacing: 6px;}
#J_topCatul{
    background: #FEFEFC;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FDF9ED), to(#fdf3cc));
    background: -webkit-linear-gradient(#FDF9ED, #fdf3cc);
    background: -moz-linear-gradient(#FDF9ED, #fdf3cc);
    background: -ms-linear-gradient(#FDF9ED, #fdf3cc);
    background: -o-linear-gradient(#FDF9ED, #fdf3cc);
    background: linear-gradient(#FDF9ED, #fdf3cc);
    -pie-background: linear-gradient(#FDF9ED, #fdf3cc);
    behavior: url(css/PIE.htc);
}
#J_topCatul a{letter-spacing: 4px;}
.more_object{display: none}

.pop_listen{width:300px; height:35px; line-height:35px; text-indent:120px; background-color:#fad955;}
.pop_listen label{margin-right:12px;}
.pop_listen_list1,.pop_listen_list2,.pop_listen_list3{width:300px; height:55px; line-height:55px; clear:both; overflow:hidden;}
.pop_listen_list1{background:url(../images/pop_first.png) left top no-repeat;}
.pop_listen_list2{background:url(../images/pop_twice.png) left top no-repeat;}
.pop_listen_list3{background:url(../images/pop_third.png) left top no-repeat;}
.pop_listen_list1 label,.pop_listen_list2 label,.pop_listen_list3 label{width:120px; height:55px;text-indent:30px; float:left; font-size:14px;}
.pop_listen_list1 strong,.pop_listen_list2 strong,.pop_listen_list3 strong{width:65px; height:55px; float:left; font-size:14px;}
.pop_listen_list1 span,.pop_listen_list2 span,.pop_listen_list3 span{width:115px; height:55px; float:right; margin-left:0px; background:url(../images/pop_rice.png) left top no-repeat; text-indent:25px; color:#339900; font-size:14px;}
.pop_right{width:620px; height:40px; line-height:40px; overflow:hidden;}
.pop_right li{float:left; line-height:40px; display:inline;}
.pop_current_object_level{margin-left:25px; _margin-left:25px;}
.pop_current_object_level strong,.pop_current_object_level label{float:left;}
.current_object_grade{display:inline;}
.curren_level{margin-left:5px; float:left;}
.start{margin:0 25px; _margin:0 25px;}
.pop_subject_grade{margin-left:25px; _margin-left:25px;}

/*以下是弹出层*/
.reveal-modal{width:650px; height:auto; border:2px solid #ccc; background-color:#FFF; text-align:left; padding:20px;}
.reveal-modal-bg{filter:alpha(opacity=50),-moz-opacity:0.50,-webkit-opacity:0.50;}
/*以上是弹出层*/

/** $flash 缩略图 **/
.focus_player {
    background: none repeat scroll 0 0 #999999;
    height: 220px;
    position: relative;
    width: 350px;
}
.focus_player_link a {
    background: url("http://static.youku.com/index/img/sprite.gif") repeat scroll 0 0 transparent;
    display: block;
    height: 220px;
    left: 0;
    position: absolute;
    top: 0;
    width: 350px;
    z-index: 3;
}

.focus_player_play {
    background: url("http://res.mfs.ykimg.com/051000005087AA646714C05F5D09B2EC") no-repeat scroll 0 0 transparent;
    height: 58px;
    left: 10px;
    position: absolute;
    top: 150px;
    width: 58px;
    z-index: 2;
}
.focus_player_picture img {
    display: block;
    height: 220px;
    left: 0;
    position: absolute;
    top: 0;
    width: 350px;
    z-index: 1;
}

.focus_player_videojug {
    background: url("../images/video_select_bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #BDBCBD;
    border-radius: 3px 3px 3px 3px;
    height: 22px;
    overflow: hidden;
    width: 348px;
}
#J_media_div {
    background: url("../images/video_loading.gif") no-repeat scroll center center transparent;
}
.video_jug_play {
    background: url("../images/video_jug_play.png") no-repeat scroll 0 0 transparent;
    height: 22px;
    left: 134px;
    position: relative;
    top: -28px;
    width: 356px;
    margin-bottom: -20px;
    cursor: pointer;
    display: none;
}
.sideTool {
    top: 160px;
    left: 50%;
    margin-left: 446px;
    position: fixed;
}
.sideTool .handle a {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #E4E4E4;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #3399E0;
    display: block;
    line-height: 16px;
    margin-bottom: 2px;
    padding: 12px 5px;
    text-align: center;
    width: 14px;
}
.sideTool .handle a:hover{text-decoration:none;background:#e8e8e8;border-color:#ddd;}
#playshow_mask {
    background: none repeat scroll 0 0 #101010;
    display: none;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1300;
}
/** flash 缩略图$ **/
