@charset "utf-8";
/* CSS Document */

/** $box-mail **/
.box-mail {
	font-size: 12px;
	color: #666;
	width: 380px;
	float:left;
	margin-left:10px;
	display: none;
}

.box-mail ul {
	margin-top: 9px;
	font: 12px/100% arial, 宋体;
}

.box-mail li {
	margin-top: 12px;
	margin-left: 35px;
	height: 28px;
}

.box-mail_input,.box-mail_select,.box-mail_btn {
	display: inline-block;
	_display: inline;
	zoom: 1;
	vertical-align: middle;
	border: 1px solid #A1BCD1;
}

.box-mail_input {
	background: #fff;
	border-color: #A1BCD1;
	border-bottom-color: #A1BCD1;
	border-right-color: #A1BCD1;
	margin-right: 2px;
	height: 27px;
	overflow: hidden;
}

.box-mail_input input {
	background: none;
	border: 1px solid #E9E9E9;
	padding-left: 2px\9;
	border-bottom: none;
	border-right: none;
	width: 180px;
	height: 26px;
	line-height: 26px;
	font-family: arial;
	vertical-align: top;
	*margin-top: -1px;
	padding-left: 1px;
	padding-left: 2px\9;
}

.box-mail_input_passwd,.box-mail_input_passwd input {
	width: 180px;
	_width: 180px;
}

.box-mail_select span,.box-mail_btn button {
	float: left;
	overflow: hidden;
	line-height: 27px;
	height: 27px;
	_height: 26px;
}

.box-mail_select,.box-mail_btn button {
	background: #F1F1F4 url(../imgs/box-mail.png) repeat-x 0 -28px;
}

.box-mail_select {
	font-family: Tahoma;
	margin-left: -10px;
	height: 27px;
	line-height: 27px;
	margin-right: 5px;
	cursor: pointer;
}

.box-mail_select span {
	width:91px;
	text-align: center;
}

.box-mail_select_click {
	background: #DDD;
}

.box-mail_btn button {
	width: 83px;
	line-height: 18px;
	line-height: 20px\9;
	border: none;
	color: #666;
	cursor: pointer;
}

.box-mail_layer {
	z-index: 99;
	font-size: 12px;
	line-height: 19px;
	vertical-align: baseline;
	cursor: default;
	border: 1px solid #817F82;
	background: #fff;
	width: 91px;
	position: absolute;
	overflow: hidden;
}

.box-mail_layer li {
	padding-left: 3px;
}

.box-mail_layer .hover {
	background: #E2EAFF;
	cursor: pointer;
}

.box-mail_layer .no {
	color: #999;
}

.box-mail_layer a {
	zoom: 1;
	display: block;
}

.box-mail_layer a:hover {
	color: #1C1C1C;
	text-decoration: none;
}

@media not screen and(1) {
	.box-mail {
		margin-top: 0;
	}
}

.mail-list {
	width: 302px;
	font-size: 12px;
	line-height: 19px;
	vertical-align: baseline;
	cursor: default;
	overflow: hidden;
	color: #000;
}

.mail-list li {
	padding-left: 1px;
	float: left;
	width: 98px;
	margin-top: 10px;
	margin-left: 1px;
	height: 20px;
}

.mail-list li a,.mail-list li a:hover {
	display: block;
	color: #000;
	text-decoration: none
}

.mail-list .no {
	color: #666
}

.mail-list .option-hover {
	background: #e2eaff;
	cursor: pointer
}
/** box mail$**/

/** $box calendar**/

.box_calendar_list ul li{
	float: left;
	margin-left: 13px;
	width: 75px;
}
/** $ **/

#source {
    -moz-box-sizing: border-box;
    background-color: transparent;
    border: medium none;
    color: #333333;
    display: block;
    resize: none;
}

#source, .gt-hl-layer {
    font-family: arial,sans-serif;
    font-size: 16px;
    height: 105px;
    margin: 0;
    outline: medium none;
    padding: 8px 8px 32px;
    white-space: pre-wrap;
    width: 100%;
}

.gt-hl-layer {
    border: 1px solid #FFFFFF;
}

.gt-hl-layer {
    background-color: #FFFFFF;
    color: #FFFFFF;
    position: absolute;
    z-index: -1;
}

#gt-src-wrap, #newu, #gt-pb-sb, .pb-tgt-td textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    position: relative;
}

#gt-src-wrap {
	border: 1px solid #4D90FE;
}

.clear-button {
    color: #1155CC;
    cursor: pointer;
    height: 18px;
    margin: 5px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    width: 18px;
}
.goog-toolbar-button, .goog-toolbar-menu-button {
    -moz-user-select: none;
    background: none repeat scroll 0 center transparent;
    border-color: transparent;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    color: #444444;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    list-style: none outside none;
    outline: medium none;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;
}

.jfk-button-img {
    display: inline-block;
    height: 21px;
    width: 21px;
}

.goog-toolbar-button .jfk-button-img, .goog-toolbar-menu-button .jfk-button-img {
    margin-top: -3px;
    opacity: 0.55;
    vertical-align: middle;
}

.clear-button .jfk-button-img {
    background: url("//ssl.gstatic.com/translate/buttons10.png") no-repeat scroll -107px -3px transparent;
    height: 18px;
    margin-top: -9px;
    width: 18px;
    cursor: pointer;
}

.goog-inline-block {
    display: inline-block;
    position: relative;
}

.goog-flat-menu-button {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid #DCDCDC;
    border-radius: 2px 2px 2px 2px;
    color: #444444;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    line-height: 27px;
    list-style: none outside none;
    margin: 0 2px;
    min-width: 46px;
    outline: medium none;
    padding: 0 18px 0 6px;
    text-align: center;
    text-decoration: none;
}
.goog-menu-button-caption, .goog-flat-menu-button-caption {
    overflow: hidden;
    text-overflow: ellipsis;
}
.goog-flat-menu-button-caption {
    vertical-align: top;
    white-space: nowrap;
}
.goog-inline-block {
    display: inline-block;
    position: relative;
}
.goog-flat-menu-button {
    color: #444444;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    line-height: 27px;
    list-style: none outside none;
    text-align: center;
}
.goog-flat-menu-button-dropdown {
    border-color: #777777 transparent;
    border-style: solid;
    border-width: 4px 4px 0;
    height: 0;
    position: absolute;
    right: 5px;
    top: 12px;
    width: 0;
}

.jfk-button {
    border-radius: 2px 2px 2px 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    margin-right: 16px;
    min-width: 54px;
    outline: 0 none;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}
.jfk-button-narrow {
    min-width: 34px;
    padding: 0;
}

.jfk-button-standard {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    color: #444444;
}

.jfk-button-standard.jfk-button-disabled {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: #B8B8B8;
    width: 30px;
}
.trans-swap-button .jfk-button-img {
    background: url("//ssl.gstatic.com/translate/buttons10.png") no-repeat scroll 0 0 transparent;
}
.jfk-button {
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    margin-right: 16px;
    min-width: 54px;
    outline: 0 none;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}
.jfk-button-action {
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    box-shadow: none;
    color: #FFFFFF;
}
#gt-res-wrap {
    background: none repeat scroll 0 0 whitesmoke;
    border: 1px solid whitesmoke;
    margin-top: 50px;
}

#result_box.short_text {
    font-size: 24px;
    padding-left: 10px;
}
#gt-res-dict {
    overflow: hidden;
    width: 100%;
}
table.gt-baf-table {
    border-spacing: 0;
}
div.gt-baf-pos {
    color: #000000;
    font-weight: bold;
    margin: 1px 0;
    padding-top: 1em;
    text-align: left;
}
div.gt-baf-marker-container {
    height: 18px;
    margin: 1px 0;
    overflow: hidden;
    padding: 0 0.1em 0 0.7em;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    width: 27px;
}
div.gt-baf-cts {
    background: none repeat scroll 0 0 #AAAAAA;
    display: inline-block;
    height: 7px;
    margin: 6px 2px 5px 0;
}
div.gt-baf-bar {
    height: 20px;
    margin: 0 0.2em 0 0;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;
    width: 4px;
}
div.gt-baf-word-clickable {
    color: #000000;
    cursor: pointer;
    height: 18px;
    margin: 1px 0;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;
}
div.gt-baf-translations {
    height: 18px;
    margin: 1px 0;
    overflow: hidden;
    padding: 0 0 0 1em;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
}
.gt-baf-back {
    cursor: pointer;
}
.gt-baf-back {
    cursor: pointer;
}

#gt-langs {
	margin-top: 10px;
}
#gt-lang-src, #gt-lang-swap, #gt-lang-tgt, #gt-lang-submit {
	float: left;
}
#gt-lang-swap, #gt-lang-submit {
	margin-left: 15px;
}
.goog-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: default;
    font-size: 12px;
    margin: 0;
    outline: medium none;
    padding: 6px 0;
    position: absolute;
    transition: opacity 0.218s ease 0s;
    white-space: nowrap;
    z-index: 2147483645;
}
.goog-menu table {
    border-collapse: collapse;
}
.goog-menu td {
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.goog-menuitem, .goog-tristatemenuitem, .goog-filterobsmenuitem {
    color: #333333;
    cursor: pointer;
    list-style: none outside none;
    margin: 0;
    padding: 6px 8em 6px 30px;
    position: relative;
    white-space: nowrap;
}
#gt-sl-gms-menu .goog-menuitem, #gt-tl-gms-menu .goog-menuitem {
    padding: 3px 15px 3px 8px;
}
#gt-sl-gms-menu .goog-menuitem-group .goog-menuitem, #gt-tl-gms-menu .goog-menuitem-group .goog-menuitem {
    border: 1px solid transparent !important;
}

#gt-sl-gms-menu .goog-menuitem-group .goog-option-selected, #gt-tl-gms-menu .goog-menuitem-group .goog-option-selected {
    background-color: #EEEEEE;
    background-image: none;
    font-weight: bold;
}
#gt-sl-gms-menu .goog-menuitem-group .goog-menuitem-highlight, #gt-tl-gms-menu .goog-menuitem-group .goog-menuitem-highlight {
    border: 1px solid #4D90FE !important;
}
.goog-menuitem-highlight, .goog-menuitem-hover {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    border-style: dotted;
    border-width: 1px 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
#gt-sl-gms-menu .goog-menuitem-group .goog-menuitem-highlight, #gt-tl-gms-menu .goog-menuitem-group .goog-menuitem-highlight {
    border: 1px solid #4D90FE !important;
}
.goog-flat-menu-button.goog-flat-menu-button-focused {
    border-color: #4D90FE;
}

table.gt-baf-table {
	border-collapse:collapsed;
	border-spacing:0
}
table.gt-baf-table td {
	padding:0
}

#gt-res-dict {
	width:100%;
	overflow:hidden;
	font: 13px arial,sans-serif;
}
#gt-res-dict h3 {
	font-weight:normal;
	margin-bottom:0
}
#gt-res-dict ol {
	list-style:none;
	padding:0;
	color:#000;
	margin-top:0
}
#gt-res-dict li {
	padding-right:5em;
	font-weight:bold;
	float:left
}
#gt-res-dict li div {
	padding-top:0.2em
}
#gt-res-dict li div div {
	padding:0.2em;
	font-weight:normal;
	white-space:nowrap;
	float:none
}
div.gt-baf-pos {
	color:#000;
	font-weight:bold;
	margin:1px 0;
	padding-top:1em;
	text-align:left
}
div.gt-baf-marker-container {
    height: 18px;
    margin: 1px 0;
    overflow: hidden;
    padding: 0 0.1em 0 0.7em;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    width: 27px;
}
div.gt-baf-cts {
    background: none repeat scroll 0 0 #AAAAAA;
    display: inline-block;
    height: 7px;
    margin: 6px 2px 5px 0;
}
div.gt-baf-bar {
    height: 20px;
    margin: 0 0.2em 0 0;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;
    width: 4px;
}
div.gt-baf-word-clickable {
    color: #000000;
    cursor: pointer;
    height: 18px;
    margin: 1px 0;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;
}
div.gt-baf-translations {
    height: 18px;
    margin: 1px 0;
    overflow: hidden;
    padding: 0 0 0 1em;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
}
.gt-baf-back {
    cursor: pointer;
    color: #888888;
}
.gt-baf-hl {
    color: #000000;
}
.gt-lang-ext {
	color: #336699;
}

/** $stikynot **/
.stikynot_drag{position:absolute;border:1px solid #ddd;background:#FBF2BD;text-align:center;cursor:move;}

.box_stikynot {
	width: 350px;
	height: 400px;
}

.box_stikynot_head {
	width: auto;
	height: 20px;
	background:  #EDEDED;
}
.box_stikynot_bar {
	float: left;
	background: url('../imgs/glyphicons-halflings.png');
	width: 16px; 
	height: 16px; 
	opacity: 0.6;
}

.box_stikynot_bar a {
	text-indent: -999em;
	display: block;
}

.box_stikynot_text {
    -moz-box-sizing: border-box;
    background-color: transparent;
    border: medium none;
    color: #333333;
    display: block;
    resize: none;
}

.box_stikynot_text textarea {
    font-family: arial,sans-serif;
    font-size: 16px;
    height: 395px;
    margin: 0;
    outline: medium none;
    white-space: pre-wrap;
    width: 348px;
    border: 0;
}

.box_stikynot_save {
	background-position: -288px 0;left: 160px;
}
.box_stikynot_add {
	background-position: -407px -96px; margin-left: 10px;  cursor: pointer;
}
.box_stikynot_del {
	left: 300px; width: 16px; height: 16px; background-position: -454px 0px;
}
.box_stikynot_add:hover {
	opacity: 1;
}
.box_stikynot_save:hover {
	opacity: 1;
}
.box_stikynot_del:hover {
	opacity: 1;
}

.ui-dialog .ui-dialog-content {
	padding: 0;
}
.ui-widget-content {
}
.ui-dialog {
	padding: 0;
            border: 0;
            background: transparent;
}
.ui-widget-header {
	background: none repeat scroll 0 0 #EDEDED;
	font-weight: 0;
	border: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
	top: 12px;
	width: 20px;
}
.ui-dialog .ui-dialog-titlebar {
	padding-bottom: 2px;
}
.ui-draggable .ui-dialog-titlebar {
	height: 12px;
}
.ui-dialog .ui-dialog-title {
	display: none;
}
.ui-widget-overlay {
    background: none repeat scroll 0 0 #000000;
    opacity: 0.5;
}
.box_stikynot_tip {
	float: left; position: absolute; left: 180px;display: none;color: yellow;
}
.box_stikynot_color {
	float: left; height: 16px; width: 225px; margin-left: 28px;
}

.box_stikynot_color_bar {
	cursor: pointer;
	width: 16px;
	height: 16px;
	margin-left: 15px;
	float: left;
	opacity: 0.5;
}
.color_b {
	margin-left: 25px;
	background: blue;
}
.color_g {
	background: green;
}
.color_pink {
	background: pink;
}
.color_p {
	background: purple;
}
.color_w {
	background: white;
}
.color_y {
	background: yellow;
}

.bg_b {
	background: blue;
	opacity: 0.5;
	-moz-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50); 
    color: white;
}
.bg_g {
	background: green;
	opacity: 0.5;
	-moz-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50); 
    color: white;
}
.bg_pink {
	background: pink;
	opacity: 0.5;
	-moz-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50); 
    color: #000000;
}
.bg_p {
	background: purple;
	opacity: 0.5;
	-moz-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50); 
    color: white;
}
.bg_w {
	background: white;
	opacity: 0.5;
	-moz-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50); 
    color: #000000;
}
.bg_y {
	background: yellow;
	opacity: 0.5;
	-moz-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50); 
    color: #000000;
}
/** 便签$ **/
#head_tools {
	margin:0 auto;
	width: 980px;
	height: 30px;
}
/** $head tools **/
#head_tools a {
	color: #333333;
	font-size: 12px;
}
#head_tools a:hover {
	color: #FF0000;
}
#head_tools ul {
	float: left;
	margin-left: 716px;
}
#head_tools li {
	float: left;
	margin-left: 14px;
}
.head_tools_bar {
	display: none;
}
/** head tools$ **/
