body{ background: url(../imgs/skins/bg1.jpg) repeat-x scroll center top transparent; }
input:focus{ outline: 0; }
a,a:hover{ text-decoration: none; }
.top{
	background: url(../imgs/topbg.png) 0 0 repeat-x;
	top: 0;
	left: 0;
	width: 100%;
}
.top .top-inner{ height: 35px; }
.end{
	height: 52px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
.end .end-mark{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 52px;
	background: #615140;
	filter:alpha(opacity=20);  
	-moz-opacity: 0.2;  
	-khtml-opacity: 0.2;  
	opacity: 0.2;
	z-index: 1;
}
.end .end-inner{
	position: relative;
	height: 52px;
	z-index: 2;
}
.wrap{ margin-bottom: 100px; }
/*听聊*/
.coffee,
.coffee .ting,
.coffee .liao{
	background: url(../imgs/coffee.png?2013082302) 0 0 no-repeat;
}
.coffee{
	background-position: 0 0;
	bottom: 10px;
	display: block;
	height: 125px;
	overflow: hidden;
	position: absolute;
	right: 18px;
	text-indent: -999px;
	width: 128px;
	z-index: 3;
}
.coffee .ting,
.coffee .liao{
	display: none;
	width: 26px;
	text-indent: -999px;
	overflow: hidden;
	height: 36px;
	position: absolute;
	top: 48px;
}
.coffee .ting{
	background-position: -199px 0;
	left: 32px;
}
.coffee .liao{
	background-position: -230px 0;
	right: 40px;
}
.coffee:hover .ting,
.coffee:hover .liao,
.coffee-on .ting,
.coffee-on .liao{
	display: block;
}

/*分辨率宽度*/
.w960 .wrap,
.w960 .top-inner,
.w960 .end-inner{
	margin: 0 auto;
	width: 960px;
}

/*顶部部分*/
.syt{
	background: url(../imgs/sytbg.png) 0 -3px no-repeat;
	height: 25px;
	width: 317px;
	margin-top: 6px;
	padding-left: 10px;
	float: left;
}
.syt .ips{
	background: #f1f1f1;
	color: #a9a9a9;
	height: 16px;
	line-height: 16px;
	padding: 4px 0;
	width: 286px;
	float: left;
	border: 0 none;
}
.syt .ipson{ color: #333; }
.syt .btn{
	background: transparent;
	display: block;
	border: 0;
	cursor: pointer;
	float: left;
	font-size: 0;
	line-height: -999px;
	overflow: hidden;
	height: 18px;
	width: 18px;
	margin: 5px 0 0 10px;
}
.toplinks{
	float: right;
}
.toplinks a{
	color: #dfdfdf;
}
.toplinks a:hover{
	color: #d7af7c;
}
.toplinks .uc{
	float: left;
}
.toplinks .uc li{
	float: left;
	display: inline;
	padding: 10px 0 0 20px;
}
.toplinks .weather,
.toplinks .timenow{
	float: left;
}
.toplinks .weather{
	padding-top: 5px;
}
.toplinks .timenow{
	color: #a3a3a3;
	line-height: 35px;
}
.wrap-hd{
	height: 254px;
	position: relative;
}
.wrap-bd{
	padding-top: 50px;
	*zoom: 1;
}
.wrap-bd:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.logo{
	background: url(../imgs/logo.png) 0 0 no-repeat;
	height: 46px;
	text-indent: -999px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 58px;
	width: 226px;
}
.englishcorner{
	background: url(../imgs/englishcorner.png) 0 0 no-repeat;
	display: block;
	height: 130px;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-indent: -999px;
	top: 35px;
	width: 150px;
}
/*糖葫芦*/
.thl{
	background: url(../imgs/thlbg.png) 0 -15px no-repeat;
	height: 90px;
	position: absolute;
	top: 35px;
	left: 310px;
	width: 456px;
}
.thl a,
.thl a:hover{
	color: #000;
}
.thl a:hover{
	text-decoration: underline;
}
.thl .cate{
	height: 20px;
	position: absolute;
	top: 40px;
	left: 80px;
	width: 280px;
	display: none;
}
.thl .cate li{
	float: left;
}
.thl .subcate{
	padding: 10px 0 0 50px;
	height: 14px;
}
.thl .on,
.thl .on:hover{
	color: #d00316;
}
.thl .ctls{
	padding-left: 40px;
	margin-top: 12px;
	height: 30px;
	overflow: hidden;
}
.thl .ipt{
	background: #eeeeee;
	border: 0 none;
	float: left;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	padding: 3px;
	width: 348px;
}
.thl .btn{
	background: transparent;
	border: 0 none;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 0;
	height: 23px;
	line-height: -999px;
	overflow: hidden;
	width: 35px;
}
/*自留地*/
.zld{
	background: url(../imgs/zldbg.png) 0 0 no-repeat;
	height: 89px;
	position: absolute;
	top: 165px;
	left: 0;
	width: 100%;
}
.zld .guide{
	background: url(../imgs/zldguide.png);
	position: absolute;
	width: 147px;
	display: block;
	height: 33px;
	text-indent: -999px;
	overflow: hidden;
	margin: -40px 0 0 0;
	display: none;
}
.zld .tools{
	background: url(../imgs/tool-icons.png) -2px 0 no-repeat;
	position: absolute;
	display: block;
	height: 35px;
	width: 35px;
	text-indent: -999px;
	overflow: hidden;
	right: 4px;
	top: 4px;
}
.zld .tools:hover{
	background-position: -42px 0;
}
.zld .close{
	background: url(../imgs/exit.png) 0 0 no-repeat;
	position: absolute;
	display: none;
	height: 19px;
	width: 38px;
	text-indent: -999px;
	overflow: hidden;
	right: 4px;
	top: 4px;
	cursor: pointer;
	z-index: 1;
}
.zld ul{
	*zoom: 1;
	width: 900px;
	position: absolute;
	top: 13px;
	left: 15px;
	overflow: hidden;
	height: 62px;
	z-index: 2;
}
.zld ul:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.zld ul li{
	background: url(../imgs/line.png) left 10px no-repeat;
	float: left;
}
.zld ul li span{
	display: block;
	margin: 2px 4px 0 1px;
	padding-left: 3px;
}
.zld ul li span b{
	color: #323232;
	cursor: pointer;
	display: block;
	font-weight: normal;
	height: 29px;
	line-height: 26px;
	line-height: 29px\9;
	margin-right: -5px;
	overflow: hidden;
	padding-right: 5px;
	text-align: center;
	width: 52px;
}
.zld ul li span b:hover{
	color: #d20015;
}
.zld-edit{ background-position: 0 -89px; }
.zld-edit-box{
	color: #000;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 26px;
	top: 95px;
	left: 80px;
	display: none;
	position: absolute;
}
.zld-edit-box .btnok{
	background: url(../imgs/btn-ok.png) 0 0 no-repeat;
	border: 0 none;
	cursor: pointer;
	font-size: 0;
	height: 32px;
	line-height: 999px;
	overflow: hidden;
	vertical-align: middle;
	width: 57px;
}
.zld-edit-box .nm,
.zld-edit-box .url{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #a98153;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	margin: 0 10px;
	padding: 5px;
	vertical-align: middle;
}
.zld-edit-box .nm{ width: 250px; }
.zld-edit-box .url{ width: 310px; }
.zld-edit .tools{ display: none; }
.zld-edit .close{ display: block; }
.zld-edit-box .tip{
	color: #84aa03;
	padding-left: 10px;
	font-weight: normal;
}
.zld-edit-box .utips{
	position: absolute;
	top: 3px;
	left: 180px;
	font-weight: normal;
	font-size: 12px;
	color: #999;
}

/*自留地 编辑状态*/
.zld-edit  .guide{
	display: block;
}
.zld-edit ul li.on span{
	background: url(../imgs/zldon.png) 0 0 no-repeat;	
}
.zld-edit ul li.on b,
.zld-edit ul li.on b:hover{
	background: url(../imgs/zldon.png) right -29px no-repeat;
	color: #fff;
}
/*主内容区域2栏*/
.sider{
	float: left;
	width: 330px;
}
.ct{
	margin-left: 330px;
}
.video-panel{
	background: url(../imgs/vdbg.png) 0 0 no-repeat;
	height: 194px;
	width: 277px;
	position: relative;
}
.videotarget{
	width: 63px;
	position: absolute;
	display: none;
	left: 10px;
	top: 20px;
	z-index: 2;
}
.videotarget li{
	padding-bottom: 10px;
}
.videotarget a,
.videotarget a:hover{
	background: url(../imgs/videotarget.png) 1000px 1000px no-repeat;
	display: block;
	width: 63px;
	height: 18px;
	text-indent: -999px;
	overflow: hidden;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
.videotarget a.gg{ background-position: 0 -1px; }
.videotarget a.dm{ background-position: 0 -29px; }
.video{
	background: #ececec;
	height: 178px;
	overflow: hidden;
	position: absolute;
	left: 9px;
	top: 9px;
	width: 260px;
}
.video img{ vertical-align: middle; }
/*应用列表*/
.apps{
	*zoom: 1;
	width: 550px;
	padding-left: 10px;
}
.apps:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.apps li{
	float: left;
	width: 110px;
	padding-bottom: 25px;
	text-align: center;
}
.apps .img{ font-size: 0; }
.apps .img a,
.apps .img span{
	background: url(../imgs/app/appbg.png) -75px 1px no-repeat;
	display: block;
	height: 74px;
	margin: 0 auto;
	position: relative;
	width: 75px;
}
.apps .img a b,
.apps .img span b{
	display: none;
}
.apps .img a:hover b{
	background: url(../imgs/close.png) 0 1px no-repeat;
	display: block;
	height: 15px;
	left: -2px;
	overflow: hidden;
	position: absolute;
	text-indent: -999px;
	top: -2px;
	width: 15px;
}
.apps .nm{
	margin-top: 10px;
}
.apps .nm a,
.apps .nm span{
	color: #dfdfdf;
	font-weight: bold;
}
.apps li{ cursor: pointer; }
.apps li.on a,
.apps li.on span{
	background-position: 0 1px;
}
.apps li.on .nm a,
.apps li.on .nm span{
	color: #d20015;
	font-weight: normal;
}

/*皮肤*/
.skins{
	float: left;
	padding-top: 17px;
}
.skins li{
	float: left;
	padding: 0 8px 0 0;
}
.skins li a{
	display: block;
	border: 0;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.skins li a:hover img{
	border: 2px solid #583516;
	height: 14px;
	width: 14px;
}
.skins li img{
	vertical-align: middle;
}
/*版权*/
.copyright{
	float: left;
	padding-top: 20px;
	margin-left: 90px;
}
.copyright li{
	float: left;
}
.copyright li.icp{
	padding-left: 40px;
}
.copyright li a{
	color: #010101;
}
.copyright li a:hover{
	color: #fff;
}
.copyright li span{
	text-align: center;
	padding: 0 10px;
}

/*注册登录*/
.reglogin{
	background: url(../imgs/regloginbg.png) 0 0 no-repeat;
	color: #efdcc1;
	height: 442px;
	width: 587px;
	font-family: \5FAE\8F6F\96C5\9ED1;
	font-size: 18px;
	display: none;
	overflow: hidden;
}
.reglogin .reglogin-hd{
	padding: 30px 35px;
	height: 34px;
}
.reglogin .reglogin-bd{
	height: 348px;
}
.reglogin h3{
	color: #4f3c2d;
	font-size: 26px;
}
.reglogin .close{
	background: url(../imgs/regloginclose.png) 0 0 no-repeat;
	display: block;
	width: 15px;
	float: right;
	text-indent: -999px;
	overflow: hidden;
	height: 16px;
}
.reglogin .reg,
.reglogin .login{
	width: 350px;
	margin: 0 auto;
}
.reglogin ul li{
	padding-bottom: 28px;
	height: 36px;
	line-height: 36px;
}
.reglogin ul li.ctls{ padding-bottom: 20px; }
.reglogin ul li.btns{ padding-bottom: 40px; }
.reglogin ul li.ex{ padding-bottom: 0; }
.reglogin .ctls{
	padding-right: 30px;
}
.reglogin .ex a,
.reglogin .ex a:hover{
	color: #efdcc1;
	margin-left: 20px;
	text-decoration: underline;
}
.reglogin .ctls label{
	color: #efdcc1;
	cursor: pointer;
}
.reglogin ul li span{
	color: #861714;
	padding-left: 10px;
	font-family: arial;
	font-weight: bold;
}
.reglogin ul .txt{
	background: #ece9e5;
	color: #898989;
	border: 1px solid #846d51;
	height: 21px;
	line-height: 21px;
	width: 310px;
	padding: 8px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: \5B8B\4F53;
}
.reglogin .lostpass,
.reglogin .lostpass:hover{
	float: right;
	color: #efdcc1;
	text-decoration: underline;
}
.reglogin .regbtn{
	background: url(../imgs/regloginbtn.png) 1000px 1000px no-repeat;
	cursor: pointer;
	border: 0 none;
	width: 317px;
	font-size: 0;
	line-height: -999px;
	overflow: hidden;
	height: 54px;
}
.reglogin .reg .regbtn{ background-position: 0 0; }
.reglogin .regon .reg .regbtn{ background-position: 0 -54px; }
.reglogin .login .regbtn{ background-position: 0 -162px; }
.reglogin .regon .login .regbtn{ background-position: 0 -216px; }
.reglogin .regon{
	background: url(../imgs/tree.png) 463px 163px no-repeat;
}

.reglogin .vcode{
	position: relative;
}
.reglogin .vcode .v{
	position: absolute;
	right: 34px;
	top: 6px;
}
.forgetpass{
	background: url(../imgs/forgetbg.png) 0 0 no-repeat;
	height: 304px;
}
.forgetpass .reglogin-bd{
	height: 210px;
}
.forgetpass .reglogin-bd .regbtn{
	background-position: 0 -108px;
}