body{ background: url(../imgs/skins/skin001.jpg) center 35px; }
input:focus{ outline: 0; }
a,a:hover{ text-decoration: none; }
.top{
	background: url(../imgs/topbg.png) 0 0 repeat-x;
	height: 35px;
	top: 0;
	left: 0;
	width: 100%;
}
.end{
	height: 52px;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
}
.end .end-mark{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 52px;
	background: #615140;
	filter:alpha(opacity=20);  
	-moz-opacity: 0.2;  
	-khtml-opacity: 0.2;  
	opacity: 0.2;
	z-index: 1;
}
.end .end-inner{
	position: relative;
	height: 52px;
	z-index: 2;
}
.wrap{ margin-bottom: 100px; }
.coffee,
.ljt{
	display: block;
	bottom: 10px;
	position: absolute;
	text-indent: -999px;
	overflow: hidden;
	z-index: 3;
}
.coffee{
	background: url(../imgs/coffee.png) 0 0 no-repeat;
	height: 125px;
	width: 128px;
	right: 18px;
}
.ljt{
	background: url(../imgs/ljt.png) 0 0 no-repeat;
	height: 96px;
	width: 85px;
	left: 18px;
}
/*分辨率宽度*/
.w1000 .wrap,
.w1000 .top-inner,
.w1000 .end-inner{
	margin: 0 auto;
	width: 1000px;
}

/*顶部部分*/
.syt{
	background: url(../imgs/sytbg.png) 0 0 no-repeat;
	height: 35px;
	width: 330px;
	padding-left: 45px;
	margin-top: 3px;
	float: left;
}
.syt .ips{
	background: #f1f1f1;
	height: 16px;
	line-height: 16px;
	padding: 6px 0;
	width: 286px;
	float: left;
	border: 0 none;
}
.syt .btn{
	background: transparent;
	display: block;
	border: 0;
	cursor: pointer;
	float: left;
	font-size: 0;
	line-height: -999px;
	overflow: hidden;
	height: 18px;
	width: 18px;
	margin: 5px 0 0 10px;
}
.toplinks{
	float: right;
}
.toplinks a{
	color: #dfdfdf;
}
.toplinks a:hover{
	color: #d7af7c;
}
.toplinks .uc{
	float: left;
}
.toplinks .uc li{
	float: left;
	padding: 10px 10px 0 10px;
}
.toplinks .weather,
.toplinks .timenow{
	float: left;
}
.toplinks .weather{
	padding-top: 5px;
}
.toplinks .timenow{
	color: #a3a3a3;
	line-height: 35px;
}
.wrap-hd{
	height: 254px;
	position: relative;
}
.wrap-bd{
	padding-top: 45px;
	*zoom: 1;
	min-height: 400px;
}
.wrap-bd:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.logo{
	background: url(../imgs/logo.png) 0 0 no-repeat;
	height: 46px;
	text-indent: -999px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 58px;
	width: 226px;
}
.englishcorner{
	background: url(../imgs/englishcorner.png) 0 0 no-repeat;
	display: block;
	height: 130px;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-indent: -999px;
	top: 35px;
	width: 150px;
}
/*糖葫芦*/
.thl{
	background: url(../imgs/thlbg.png) 0 0 no-repeat;
	height: 113px;
	position: absolute;
	top: 30px;
	left: 310px;
	width: 456px;
}
.thl a,
.thl a:hover{
	color: #000;
}
.thl a:hover{
	text-decoration: underline;
}
.thl .cate{
	height: 20px;
	position: absolute;
	top: 64px;
	left: 80px;
	width: 280px;
}
.thl .cate li{
	float: left;
}
.thl .subcate{
	padding: 22px 0 0 50px;
}
.thl .on,
.thl .on:hover{
	color: #d00316;
}
.thl .ctls{
	padding-left: 40px;
	margin-top: 20px;
	height: 30px;
	overflow: hidden;
}
.thl .ipt{
	background: #eeeeee;
	border: 0 none;
	float: left;
	height: 20px;
	line-height: 20px;
	padding: 6px;
	width: 338px;
}
.thl .btn{
	background: transparent;
	border: 0 none;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 0;
	height: 30px;
	line-height: -999px;
	overflow: hidden;
	width: 44px;
}
/*自留地*/
.zld{
	background: url(../imgs/zldbg.png) 0 0 no-repeat;
	height: 89px;
	position: absolute;
	top: 165px;
	left: 0;
	width: 100%;
}
.zld .tools{
	background: url(../imgs/tool-icons.png) 0 0 no-repeat;
	float: right;
	display: block;
	height: 40px;
	width: 40px;
	text-indent: -999px;
	overflow: hidden;
	margin: 5px;
}
.zld .tools:hover{
	background-position: -40px 0;
}
.zld ul{
	*zoom: 1;
	width: 930px;
	margin-left: 20px;
	padding-top: 13px;
}
.zld ul:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.zld ul li{
	float: left;
	width: 61px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	padding: 6px 0;
	text-align: center;
}
.zld ul li a{
	color: #323232;
}
.zld ul li a:hover{
	color: #d20015;
}
/*主内容区域2栏*/
.sider{
	float: left;
	width: 330px;
}
.ct{
	margin-left: 330px;
	padding-top: 5px;
}
.video-panel{
	background: url(../imgs/vdbg.png) 0 0 no-repeat;
	height: 220px;
	width: 314px;
	position: relative;
}
.videotarget{
	width: 63px;
	position: absolute;
	left: 10px;
	top: 20px;
	z-index: 2;
}
.videotarget li{
	padding-bottom: 10px;
}
.videotarget a,
.videotarget a:hover{
	background: url(../imgs/videotarget.png) 1000px 1000px no-repeat;
	display: block;
	width: 63px;
	height: 18px;
	text-indent: -999px;
	overflow: hidden;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
.videotarget a.gg{ background-position: 0 -1px; }
.videotarget a.dm{ background-position: 0 -29px; }
.video{
	background: #ececec;
	height: 202px;
	overflow: hidden;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 293px;
	z-index: 1;
}
/*引用列表*/
.apps{
	*zoom: 1;
	width: 550px;
	padding-left: 10px;
}
.apps:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.apps li{
	float: left;
	width: 110px;
	padding-bottom: 25px;
	text-align: center;
}
.apps .img{ font-size: 0; }
.apps .img a{
	background: url(../imgs/app/appbg.png) -75px 0 no-repeat;
	display: block;
	height: 74px;
	margin: 0 auto;
	overflow: hidden;
	width: 75px;
}
.apps .img a:hover{
	background-position: 0 0;
}
.apps .nm{
	margin-top: 10px;
}
.apps .nm a,
.apps .nm a:hover{
	color: #dfdfdf;
	font-weight: bold;
}
/*皮肤*/
.skins{
	float: left;
}
.skins li{
	float: left;
	padding: 12px 8px 0 0;
}
.skins li a{
	display: block;
	border: 1px solid transparent;
	-moz-box-shadow: 1px 1px 5px #ececec;
	-webkit-box-shadow: 1px 1px 5px #ececec;
	box-shadow: 1px 1px 5px #ececec;
}
.skins li a:hover{
	border: 1px solid #583516;
}
.skins li img{
	vertical-align: middle;
}
/*版权*/
.copyright{
	float: left;
	padding-top: 20px;
	margin-left: 90px;
}
.copyright li{
	float: left;
}
.copyright li.icp{
	padding-left: 40px;
}
.copyright li a{
	color: #010101;
}
.copyright li a:hover{
	color: #fff;
}
.copyright li span{
	text-align: center;
	padding: 0 10px;
}