/*************************************************************
** dark
*************************************************************/
a, a:hover{
    color: #fff;
}
#container{
    background: url(bg.jpg);
    background-size: cover;
}

.weather-icon {
    background-image: url(weather-icon-psd.png);
}
.header {
    background: #424144;
}
.nav,
.nav li {
    border: 0;
}

.nav li a {
    padding-left: 17px;
    padding-right: 17px;
    color: #fff;
}

.zld ul li .nm,
.zld ul li .ctl {
    background: url(/v303b/imgs/op30.png);
}

.zld ul li.add .ctl {
    border-radius: 30px;  
}
.zld ul li.add .ctl i {
    background-image: url(sprite.png);
    background-position: -32px -1px;
    background-repeat: no-repeat
}

.zld ul li .ctl i {
    background-image: url(sprite.png);
    background-position: -2px -1px;
    background-repeat: no-repeat;
}

.app-icon-list .app-more .more {
    width: 25px;
    height: 25px;
    display: block;
    background-image: url(sprite.png);
    background-position: -63px -2px;
    background-repeat: no-repeat;
    line-height: 25px;
    text-align: center;
    border-radius: 30px;
    position: relative;
    right: -2px;
}
.extra-calendar .cal-header .cal-header-date-prev {
    background-image: url(sprite.png);
    background-position: 0 -30px;
}

.extra-calendar .cal-header .cal-header-date-next {
    background-image: url(sprite.png);
    background-position: -30px -30px;
}

.extra-box {
    border-bottom: 0;
}

.box-apps {
    border-top: 1px solid #ddd;
}

.footer {
    width: 960px;
    margin: 50px auto 0;
    border-top: 1px solid #ddd;
}

.widescreen .footer,
.widescreen .footer-inner  {
    width: 1172px;
}

.cal-date-marks-table {
    border-right: 1px solid #ddd; 
}
.extra-calendar .cal-body {
    border-top: 1px solid #ddd;
}
.extra-box {
    border-top: 2px solid #ddd;
}
.cal-date-marks-table li {
    border-bottom: 1px dashed #ddd;
}
.cal-month table th, .cal-week table th,
.cal-month table td, .cal-week table td {
    border-right: 1px solid #ddd;
}

.subcate,
.thl a,
.header-weather,
.header-weather .region{ color: #fff; }
.thl .cate,
.title-tabs span,
.text-news p a, .text-news p a:active,
.pic-news-title a,
.title-tabs li,
.cal-date-marks-table li .time,
.extra-calendar .cal-day .cal-mini-month-panel table,
.extra-calendar .cal-day .cal-mini-month-panel td a,
.text-news .more-news a, .text-news .more-news a:active,
.site-info li a, .site-info li a:active, .friend-links li a, .friend-links li a:active,
.extra-calendar .cal-header .cal-header-date-prev, .extra-calendar .cal-header .cal-header-date-next, .extra-calendar .cal-header .cal-header-date,
.extra-calendar .cal-header button,
.site-info{
    color: #fff;
}
.thl .cate-in,
.thl .cate-in a{ color: #000; }
.zld,
.zld a,
.zld a:hover{
    color: #fff;
}
.title-tabs li{
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
}
.title-tabs .active{
    background: none;
    border-bottom: 3px solid #d3cacc;
}

.pic-news-tabs a{
    background: #6e848e;
}
.pic-news-tabs .active,
.cal-date-marks-table li .dot,
.text-news p b{
    background: #fff;
}
.cal-date-marks-table .current-time,
.widescreen .extra-calendar .cal-day .cal-mini-month-panel{
    background: none;
}
.text-news p a:hover{
    color: #f00;
}


.more-news{
    padding-top: 30px;
}
.widescreen .more-news{
    padding-top: 20px;
}
.header-weather .weather-find-region-box{ color: #000; }
.header-weather .weather-find-region-box a{ color: #000; }
/* 先放这吧，后期再根据调整来整理吧  */

.extra-box {
    width: 463px;
}
.desc-input-div input {
    width: 208px;
    height: 11px;
    line-height: 11px;
    border: 2px solid #a8c0ce;
    box-shadow: inset 1px 1px 4px #ccc;
    border-radius: 2px;
}

.widescreen .extra-calendar .cal-header .cal-view-select-btn:hover, 
.widescreen .extra-calendar .cal-header .active,
.extra-calendar .cal-header .cal-view-select-btn:hover, 
.extra-calendar .cal-header .active {
    border-bottom: 3px solid #d3cacc;
}

.extra-calendar .cal-month table th, .extra-calendar .cal-week table th {
    color: #fff;
}
.extra-calendar .cal-month table a, 
.extra-calendar .cal-week table a, 
.extra-calendar .cal-month table a:active, 
.extra-calendar .cal-week table a:active, 
.extra-calendar .cal-month table a:hover, 
.extra-calendar .cal-week table a:hover {
    color: #fff;
}
.extra-calendar .cal-month table td .month_task_dot, 
.extra-calendar .cal-week table td .month_task_dot,
.extra-calendar .cal-month table td .week-mark-line b, 
.extra-calendar .cal-week table td .week-mark-line b {
    background: #fff;
}
.extra-calendar .cal-month table td .week-mark-line span, 
.extra-calendar .cal-week table td .week-mark-line span {
    border-bottom: 1px dashed #fff;
}

.widescreen .extra-box {
    width: 569px;
}

.widescreen .pic-news-title {
    font-size: 16px;
}

.widescreen .cal-date-marks-table {
    width: 350px;
}

.widescreen .extra-calendar .cal-day .cal-mini-month-panel {
    overflow: hidden;
    width: 220px;
    height: 375px;
    background: transparent;
    margin: -377px 0 0 351px;
}
.widescreen .cal-mini-month-panel table {
    width: 205px;
}

.extra-calendar .cal-header .pr10 {
    padding-right: 0;
}
.widescreen .extra-calendar .cal-header .pr10 {
    padding-right: 10px;
}
.widescreen .desc-input-div {
    width: 280px;
}
.widescreen .desc-input-div input {
    padding: 5px 5px;
    width: 265px;
    height: 16px;
    line-height: 16px;
}

.zdl .ipt {
    font-size: 12px;
}
.zdl .btn {
    height: 16px;
    top: 12px;
    background-position: -93px -36px;
}
.screen-theme .change-theme-btn {
    width: 16px;
    height: 16px;
    background-position: -247px -36px;
    margin-top: 9px;
    margin-left: 9px;

}

#K_change_skin_btn, .screen-change-btn a {
    color: #fff;
}
.uc-menu .nm {
    background: #e9e9e9;
    line-height: 25px;
}

.subcate a {
}

.cal-date-marks-table .blue {
    background: none;
}


.extra-calendar .cal-day .cal-mini-month-panel .another-month a{
    color: #c3b8b0;
}
.extra-calendar .cal-day .cal-mini-month-panel td .active {
    background: none;
    background: url(op20.png) 0 0 no-repeat;
}

.cal-date-marks-table li .delete-btn {
    color: #fff;
    font-family: Arial;
    font-size: 10px;
}
.cal-date-marks-table li .delete-btn:hover {
    width: 13px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    position: absolute;
    top: 9px;
    right: 2px;
    text-decoration: none;
    display: inline-block;
}
