	#header,
	#container,
	#footer,
	#frame-wrap{
		min-width: 960px;
		width: 100%;
	}
	.header-inner,
	.container-inner,
	.footer-inner,
	#frame-wrap{
		width: 960px;
		margin: 0 auto;
	}
	.extra .extra-col1,
	.extra .extra-col2{
		margin-right: 25px;
	}
	.extra .extra-col1{ width: 410px; }
	.extra .extra-col2{ width: 250px; }
	.extra .extra-col3{ width: 250px; }

	.screen-change-btn .s-wide{display:inline;}
	.screen-change-btn .s-960{display:none;}

	.thl{
	 	margin-left: 320px; 
		width: 410px;
	}
	.thl .ctls .ipt{
		width: 360px;
	}
	.thl .subcate{
		left: 30px;
	}
	.thl .cate{
		left: 45px;
	}

	#J_sortable{width:965px;}

	.nav{ font-size: 12px; }
	.nav li a{ padding: 0 10px; }
	.schedule li .t input{ width: 250px; }
	.find ul{ margin-left: -5px; }
	.find li{
		height: 82px;
		margin: 0 0 5px 5px;
		width: 130px;
	}
	.find li.more{ width: 410px; margin: 0 0 0 5px;} 
	.find li.hover .info{
		padding: 15px 10px 0 10px;
		width: 110px;
		height: 67px;
	}
	.find li .mask,
	.find li .info,
	.find li .go{
		height: 82px;
		width: 130px;
	}
	.find li .go:hover{
		background-position: 40px 15px;
	}
	.music .top-mv ul li img{
		height: 102px;
		width: 118px;
	}
	.music .top-mv ul li{
		margin-left: 14px;
		width: 118px;
	}
	.music .hot-music li{
		width: 118px;
	}
	.music .hot-music li.odd{
		margin-left: 14px;
	}

	.pics, .pics .items, .slidesjs-container{
		height: 386px;
		width: 250px;
	}

	.slidesjs-container{
		height: 406px!important;
		width: 250px;
	}
	.slidesjs-pagination {
		margin: -50px auto;
  	}

	.pics .items li,
	.pics img{
		height: 361px;
		width: 250px;
	}
	.pics .items li .info .p2{
		margin-top: 10px;
	}
	.pics .pg{
		top: 376px;
	}
	.pics .items li .info{
		width: 200px;
		padding: 25px 25px;
		height: 318px;
	}
	.pics .items li .info .p3{
		left: 25px;
		width: 200px;
	}
	.pics .items li .info .p3 a,
	.pics .items li .info .p3 a:hover{
		width: 82px;
	}

	.music-controller{
		width: 118px;
		height: 102px;
		margin-top: -102px;
	}
	.music-controller .volume{
		width: 17px;
		height: 17px;
		margin: 5px 0 0 95px;
		background-position: -106px -189px;
	}
	.music-controller .volume:hover{
		background-position: -106px -206px;
	}
	.music-controller .big{
		width: 53px;
		height: 53px;
		margin: -5px 0 0 32px;
	}
	.music-controller .go{
		background-position: -53px -149px;
	}
	.music-controller .go:hover{
		background-position: -53px -202px;
	}
	.music-controller .pause{
		background-position: 0 -149px;
	}
	.music-controller .pause:hover{
		background-position: 0 -202px;
	}
	.music-controller .small{
		width: 17px;
		height: 17px;
	}
	.music-controller .prev{
		margin: 5px 0 0 18px;
		background-position: 0 -255px;
	}
	.music-controller .prev:hover{
		background-position: -51px -255px;
	}
	.music-controller .stop{
		margin: -17px 0 0 50px;
		background-position: -17px -255px;
	}
	.music-controller .stop:hover{
		background-position: -68px -255px;
	}
	.music-controller .next{
		margin: -17px 0 0 84px;
		background-position: -34px -255px;
	}
	.music-controller .next:hover{
		background-position: -85px -255px;
	}