
	#header,
	#container,
	#footer,
	#frame-wrap{
		min-width: 960px;
		width: 100%;
	}
	.header-inner,
	.container-inner,
	.footer-inner,
	#frame-wrap{
		width: 960px;
		margin: 0 auto;
	}
	.extra .extra-col1,
	.extra .extra-col2{
		margin-right: 25px;
	}
	.extra .extra-col1{ width: 410px; }
	.extra .extra-col2{ width: 250px; }
	.extra .extra-col3{ width: 250px; }

	.screen-change-btn .s-wide{display:inline;}
	.screen-change-btn .s-960{display:none;}

	.thl{
	 	margin-left: 320px; 
		width: 410px;
	}
	.thl .ctls .ipt{
		width: 360px;
	}
	.thl .subcate{
		left: 30px;
	}
	.thl .cate{
		left: 45px;
	}


	.nav{ font-size: 12px; }
	.nav li a{ padding: 0 10px; }
	.schedule li .t input{ width: 250px; }
	.find ul{ margin-left: -5px; }
	.find li{
		height: 82px;
		margin: 0 0 5px 5px;
		width: 130px;
	}
	.find li.more{ width: 410px; margin: 0 0 0 5px;} 
	.find li.hover .info{
		padding: 15px 10px 0 10px;
		width: 110px;
		height: 67px;
	}
	.find li .mask,
	.find li .info,
	.find li .go{
		height: 82px;
		width: 130px;
	}
	.find li .go:hover{
		background-position: 40px 15px;
	}
	.music .top-mv ul li img{
		height: 102px;
		width: 118px;
	}
	.music .top-mv ul li{
		margin-left: 14px;
		width: 118px;
	}
	.music .hot-music li{
		width: 118px;
	}
	.music .hot-music li.odd{
		margin-left: 14px;
	}

	.pics{
		height: 386px;
		width: 250px;
	}
	.pics .items li,
	.pics img{
		height: 361px;
		width: 250px;
	}
	.pics .items li .info .p2{
		margin-top: 10px;
	}
	.pics .pg{
		top: 376px;
	}
	.pics .items li .info{
		width: 200px;
		padding: 25px 25px;
		height: 318px;
	}
	.pics .items li .info .p3{
		left: 25px;
		width: 200px;
	}
	.pics .items li .info .p3 a,
	.pics .items li .info .p3 a:hover{
		width: 82px;
	}

	.music-control .prev{
		margin:0 0 0 15px; 
	}
	.music-control .stop{
		margin:-23px 0 0 47px; 
	}
	.music-control .next{
		margin:-23px 0 0 80px; 
	}

	.music-control .big{
		margin:20px 33px 0;
	}
	.control-layer{
		width:118px; height:102px; margin-top:-102px;
	}
	.control-layer-black{
		width:118px; height:102px;  margin-top:-102px;
	}