	#header,
	#container,
	#footer,
	#frame-wrap{
		min-width: 1175px;
		width: 100%;
	}
	.header-inner,
	.container-inner,
	.footer-inner,
	#frame-wrap{
		width: 1175px;
		margin: 0 auto;
	}
	.extra .extra-col1,
	.extra .extra-col2{
		margin-right: 25px;
	}
	.extra .extra-col1{ width: 500px; }
	.extra .extra-col2{ width: 310px; }
	.extra .extra-col3{ width: 310px; }

	.screen-change-btn .s-wide{display:none;}
	.screen-change-btn .s-960{display:inline;}

	.thl{
		margin-left: 400px; 
	 	width: 460px;
	}
	.thl .ctls .ipt{
		width: 415px;
	}
	.thl .subcate{
		left: 53px;
	}
	.thl .cate{
		left: 87px;
		top: 34px;
	}

	.nav{ font-size: 14px; }
	.nav li a{ padding: 0 20px; }
	.schedule li .t input{ width: 340px; }
	.find ul{ margin-left: -10px; }
	.find li{
		height: 98px;
		margin: 0 0 10px 10px;
		width: 159px;
	}
	.find li.more{ width: 500px; margin: 0 0 0 10px;}
	.find li.hover .info{
		padding: 30px 15px 0 15px;
		width: 129px;
		height: 68px;
	}
	.find li .mask,
	.find li .info,
	.find li .go{
		height: 98px;
		width: 159px;
	}
	.find li .go:hover{
		background-position: 55px 25px;
	}
	.music .top-mv ul li img{
		height: 128px;
		width: 147px;
	}
	.music .top-mv ul li{
		margin-left: 16px;
		width: 147px;
	}
	.music .hot-music li{
		width: 147px;
	}
	.music .hot-music li.odd{
		margin-left: 16px;
	}
	.pics, .pics .items{
		height: 473px;
		width: 310px;
	}
	.slidesjs-container{
		height: 473px!important;
		width: 310px;
	}
	.slidesjs-pagination {
		margin: -30px auto;
  }

	.pics .items li,
	.pics img{
		height: 448px;
		width: 310px;
	}
	.pics .items li .info .p2{
		margin-top: 20px;
	}
	.pics .pg{
		top: 463px;
	}
	.pics .items li .info{
		width: 250px;
		padding: 35px 30px;
		height: 378px;
	}
	.pics .items li .info .p3{
		left: 30px;
		width: 260px;
	}
	.pics .items li .info .p3 a,
	.pics .items li .info .p3 a:hover{
		width: 110px;
	}

	.music-controller{
		width: 147px;
		height: 128px;
		margin-top: -128px;
	}
	.music-controller .volume{
		width: 20px;
		height: 20px;
		margin: 8px 0 0 118px;
		background-position: -106px -150px;
	}
	.music-controller .volume:hover{
		background-position: -106px -170px;
	}
	.music-controller .big{
		width: 65px;
		height: 65px;
		margin: -8px auto 0;
	}
	.music-controller .go{
		background-position: -65px -0px;
	}
	.music-controller .go:hover{
		background-position: -65px -65px;
	}
	.music-controller .pause{
		background-position: 0 0;
	}
	.music-controller .pause:hover{
		background-position: 0 -65px;
	}
	.music-controller .small{
		width: 19px;
		height: 19px;
	}
	.music-controller .prev{
		margin: 8px 0 0 28px;
		background-position: 0 -130px;
	}
	.music-controller .prev:hover{
		background-position: -57px -130px;
	}
	.music-controller .stop{
		margin: -19px auto 0;
		background-position: -19px -130px;
	}
	.music-controller .stop:hover{
		background-position: -76px -130px;
	}
	.music-controller .next{
		margin: -19px 0 0 102px;
		background-position: -38px -130px;
	}
	.music-controller .next:hover{
		background-position: -95px -130px;
	}