body{
	font-family: \5FAE\8F6F\96C5\9ED1,Hiragino Sans GB,Hiragino Sans GB W3;
	font-size: 12px;
}
input:focus{ outline: 0; }
.placeholder{ color: #ccc; }
.dropdown{
	display: none;
	position: absolute;
	top: 27px;
	right: -1px;
	z-index: 9996;
	width: 110px;
	margin: 0;
	background: #fff;
	border: 1px solid #e5e5e5;
}
.header{
	background: #2e2a28;
	height: 40px;
	position: fixed;
	z-index: 99999;
}
.footer{
	background: #2e2a28;
	color: #bbbaba;
	height: 46px;
	line-height: 46px;
	bottom: 0;
	left: 0;
	width: 100%;
}
.footer a,
.footer a:hover{
	color: #bbbaba;
}
.footer img{
	vertical-align: middle;
}
.container{
	position: relative;
	padding-top: 40px;
} /* TODO skins */

/*styles*/
.styles{
	float: right;
	height: 40px;
	padding-right: 0;
}
.styles li{
	display: inline;
	float: left;
	height: 22px;
	margin-left: 6px;
	padding-top: 8px;
	width: 33px;
}
.styles li a{
	display: block;
	height: 22px;
	position: relative;
	width: 33px;
}
.styles li a:hover .m{
	display: block;
	border: 0;
}
.styles li img{
	border: 1px solid #2e2a28;
	vertical-align: middle;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.styles li:hover img,
.styles li.on img{
	border-color: #fc2a06;
}
.styles li .m{
	display: none;
	position: absolute;
	top: 32px;
	left: -107px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
/* START new skin selection */
li.skin_selection_li{
	width: 52px;
	height: 40px;
	padding: 0;
	margin: 0;
}
#J_skin_selection{
	position: relative;
	height: 40px;
}
#J_skin_selection .btn_plus{
	background: url(../imgs/sprite.png) -36px -6px no-repeat;
	height: 17px;
	width: 17px;
	font-size: 0;
	opacity: .8;
	cursor: pointer;
	position: relative;
	top: 12px;
	left: 15px;
}
#J_skin_selection .subpanel-tangle{
	border: 4px solid transparent;
	border-bottom: 9px solid #fff;
	width: 0;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 20px;
}
#J_skin_selection .subpanel-wrap{
	width: 560px;
	background: #fff;
	position: absolute;
	z-index: 1000;
	right: -120px;
	padding: 0;
	top: 40px;
	border-radius: 0 0 5px 5px;
	border: 1px solid #757575;
	border-top: 0;
	box-shadow: 0 2px 5px rgba(0,0,0,.4);
}
#J_skin_selection .subpanel{
	margin: 10px 15px 15px 15px;
}
#J_skin_selection .subpanel-wrap a{
	display: inline-block;
	width: auto;
	height: auto;
	color: #727171;
	cursor: pointer;
}
#J_skin_selection .subpanel-wrap a.active,
#J_skin_selection .subpanel-wrap a:hover{
	color: #519C5F;
	text-decoration: underline;
}
#J_skin_selection .skin-types{
	text-align: center;
	margin-bottom: 5px;
}
#J_skin_selection .skin-types a{
	margin: 0 7px;
	font-weight: bold;
}
#J_skin_selection .skin-pics img{
	width: 58px;
	height: 38px;
	margin: 2px 1px 2px 1px;
	display: inline-block;
	border: 1px solid #B4B4B4;
	border-radius: 2px;
}
#J_skin_selection .skin-pics img:hover{
	margin: 1px 0 1px 0;
	border: 2px solid #238B3A;
}
#J_skin_selection .subpanel .skin-pics .item{
	display: none;
}
#J_skin_selection .subpanel .skin-pics .item.active{
	display: block;
}
#J_skin_selection .subpanel-wrap{
	max-height: 0;
	overflow: hidden;
	transition: max-height .5s;
}
#J_skin_selection .subpanel-tangle{
	opacity: 0;
	filter: alpha(opacity=0);
	transition: opacity .5s;
}
#J_skin_selection:hover .subpanel-tangle{
	opacity: 1;
	filter: alpha(opacity=100);
}
#J_skin_selection:hover .subpanel-wrap{
	max-height: 500px;
}
/* END new sking selection */

/*wrap*/
.header-inner,
.container-inner,
.footer-inner{
	margin: 0 auto;
}
.ci-hd{
	padding-top: 35px;
	height: 115px;
	position: relative;
}
.ci-bd{
	padding-top: 10px;
}
/*zdl*/
.zdl{
	float: left;
	padding-top: 7px;
	width: 330px;
	position: relative;
}
.zdl .ipt{
	border: 0 none;
	font-size: 13px;
	height: 17px;
	line-height: 17px;
	padding: 4px 10px;
	vertical-align: text-bottom;
	width: 280px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.zdl .ipton{ color: #999; }
.zdl .btn{
	background: url(../imgs/sprite.png) -95px -3px;
	border: 0 none;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 20px;
	line-height: -999px;
	overflow: hidden;
	width: 20px;
	position: absolute;
	top: 9px;
	left: 273px;
}
/*nav*/
.nav{ float: left; border-left:1px solid #201c1b;border-right:1px solid #413c3a;}
.nav li{ float: left; border-left:1px solid #413c3a;border-right:1px solid #201c1b;}
.nav li a{
	display: block;
	color: #bbbaba;
	height: 40px;
	line-height: 40px;
}
.nav li a:hover,
.nav li.on a{
	color: #fc2a06;
}
/*uc*/
.uc{
	float: right;
}
.login,
.join{
	display: block;
	float: left;
	height: 28px;
	line-height: 28px;
	margin: 6px 0 0 5px;
	width: 78px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.join{
	background: #238b3a;
	color: #fff;
}
.join:hover{
	background: #60ad6b;
	color: #fff;
}
.login{
	background: #fff;
	color: #666;
}
.login:hover{
	background: #dcdcdd;
	color: #666;
}
/*logo*/
.logo{
	background: url(../imgs/logo.png) 0 0 no-repeat;
	position: absolute;
	left: 0;
	top: 50px;
	height: 55px;
	overflow: hidden;
	text-indent: -999px;
	width: 264px;
}
/*uc-menu*/
.uc-menu{
	color: #fff;
	height: 22px;
	padding-top: 7px;
}
.uc-menu .nm{
	background: #fff url(../imgs/down.png) 105px 11px no-repeat;
	color: #727171;
	cursor: pointer;
	padding: 0 10px 0 15px;
	height: 40px;
	float: left;
	width: 95px;
	position: relative;
	height: 26px;
	line-height: 26px;
	white-space: nowrap;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.uc-menu .nm:hover{
	background: #fff url(../imgs/up.png) 105px 10px no-repeat;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.uc-menu ul{
	background: #fff;
	display: none;
	position: absolute;
	z-index: 2000;
	right: 0;
	top: 26px;
	width: 120px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.uc-menu ul li{
	padding: 0;
	margin: 0;
	line-height: 18px;
}
.uc-menu ul li a{
	color: #727171;
	display: block;
	width: 105px;
	height: 20px;
	padding: 3px 0 3px 15px;
	line-height: 20px;
}
.uc-menu ul li a:hover{
	background: #218b3a;
	color: #fff;
}
.uc-menu ul li.logout a{
	background: #dcdcdd;
	color: #727171;
	padding: 4px 0 4px 15px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.uc-menu ul li.logout a:hover{
	background: #717071;
	color: #fff;
}
/*thl*/
.thl{
	height: 60px;
	padding-top: 25px;
	position: relative;
}
.thl .ctls{
	background: #fff;
	height: 34px;
	padding: 0 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.thl .ctls .ipt{
	background: #fff;
	border: 0 none;
	float: left;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	padding: 9px 0;
	width: 415px;
	width: 360px;
}
.thl .ctls .btn{
	background: url(../imgs/sprite.png) -5px 2px no-repeat;
	cursor: pointer;
	float: right;
	height: 34px;
	width: 20px;
	line-height: 999px;
	font-size: 0;
	overflow: hidden;
	border: 0 none;
}
.thl .subcate{
	position: absolute;
	top: 3px;
	left: 52px;
	left: 30px;
}
.thl .cate{
	position: absolute;
	top: 34px;
	left: 86px;
	left: 45px;
}
.thl .subcate a:hover{
	color: #fc2a06;
	text-decoration: underline;
}
.thl .cate a:hover{
	color: #fc2a06;
	text-decoration: underline;
}
.thl .cate-in{ color: #727171; }
.thl .cate-in a{
	color: #727171;
}
.thl .cate-in a:hover{
	color: #fc2a06;
}
.thl .cate a.on,
.thl .cate a.on:hover{
	color: #fc2a06;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.thl .subcate a.on,
.thl .subcate a.on:hover{
	color: #fc2a06;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

/*zld*/
.zld{}
.zld ul{
	font-size: 12px;
	*zoom: 1;
} 
.zld ul:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.zld ul li{
	display: inline-block;
	float: left;
	height: 34px;
	line-height: 34px;
	margin: 5px 5px 0 0;
	white-space: nowrap;
	position: relative;
	vertical-align: middle;
}
.zld ul li .mask{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}
.zld ul li .nm{
	cursor: pointer;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 8px 10px 8px 20px;
	position: relative;
	vertical-align: top;
}
.zld ul li .nm:hover{
	color: #fc2a06;
	cursor: pointer;
}

.zld ul li b{
	font-weight: normal;
}
.zld ul li .ctl{
	background: url(../imgs/sprite.png) -59px 2px no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 34px;
	position: relative;
	vertical-align: top;
	width: 34px;
}
.zld ul li .ctl:hover{
	background-position: -59px -28px;
}
.zld ul li .add{
	background: url(../imgs/sprite.png) -29px 3px no-repeat;
}
.zld ul li .add:hover{
	background-position: -29px -27px;
}
/*box*/
.edit,
.del,
.close,
.new{
	display: block;
	cursor: pointer;
	height: 18px;
	text-indent: -999px;
	overflow: hidden;
	width: 18px;
	float: right;
	margin-left: 5px;
}
.edit{} /* TODO skins */
.del{} /* TODO skins */
.new{}  /* TODO skins */
.close{
	background: url(../imgs/sprite.png) -125px -6px no-repeat;
}
.close:focus{ outline: 0; }
.close:hover{
	background-position: -125px -36px;
}
.box{} /* TODO skins */
.box h2{
	font-size: 14px;
}
.box .box-hd{
	padding-top: 10px;
}
.box .box-bd{
	padding-top: 20px;
}
.box-apps,
.box-find{
	margin-top: 45px;
}
/*apps*/
.apps{
	overflow: hidden;
}
.apps ul{
	*zoom: 1;
	margin-left: -35px;
}
.apps ul:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.apps ul li{
	cursor: pointer;
	display: inline;
	margin-left: 35px;
	float: left;
	width: 72px;
	height: 100px;
	text-align: center;
}
.apps ul li:hover,
.apps ul li:hover a,
.apps ul li:hover a:hover{
	color: #fc2a06;
}
.apps ul li img{
	vertical-align: middle;
}
.apps ul li .av,
.apps ul li .ct{
	margin-bottom: 7px;
}
.apps ul li.today{
	background: url(../imgs/app/app-date.png) 0 0 no-repeat;
}
.apps ul li.today .ct{
	height: 72px;
	width: 72px;
}
.apps ul li.today b{
	color: #000;
	font-size: 12px;
	padding-top: 10px;
}
.apps ul li.today i{
	color: #cb2d40;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-family: arial;
	margin-top: -5px;
}
.apps ul li.today b,
.apps ul li.today i{
	display: block;
	text-align: center;
}
/*footer*/
.subnav{

}
.subnav ul{
	float: left;
}
.subnav ul li{
	display: inline;
	float: left;
	padding-right: 15px;
}
.copyright{
	float: right;
}

/*extra*/
.extra{
	*zoom: 1;
	margin-top: 45px;
	padding-bottom: 110px;
}
.extra:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.extra .extra-col1,
.extra .extra-col2,
.extra .extra-col3{
	display: inline;
	float: left;
}
.extra .extra-col1{}
.extra .extra-col2{}
.extra .extra-col3{}
/*schedule*/
.schedule{}
.schedule ul{
	margin-top: -5px;
}
.schedule li.first{ border: 0; }
.schedule li{
	padding: 5px 0;
	height: 24px;
	line-height: 24px;
}
.schedule li .sp,
.schedule li .d,
.schedule li .t{
	cursor: pointer;
}
.schedule li .s{
	margin-right: -5px;
}
.schedule li .d:hover input{
	cursor: pointer;
}
.schedule li input{
	font-family: '\5FAE\8F6F\96C5\9ED1','Hiragino Sans GB','Hiragino Sans GB W3';
	background: none;
	border: 0 none;
	height: 18px;
	line-height: 18px;
	padding: 3px 0;
	vertical-align: middle;
}
.schedule li .d input{ width: 60px; }
.schedule li .t input{
	padding: 3px 5px;
}
.schedule li input.on{
	color: #888889;
	background: #fff;
}
.schedule .sp{
	float: right;
	margin-left: 15px;
}
.schedule .sp:hover{
	color: #fc2a06;
	text-decoration: underline;
}
.schedule .info{}
/*find*/
.find{}
.find ul{
	*zoom: 1;
}
.find ul:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.find li{
	display: inline;
	float: left;
	position: relative;
	overflow: hidden;
}
.find li.more{
	margin: 0 0 0 5px;
	height: 28px;
}
.find li.more a{
	display: block;
	height: 26px;
	text-align: center;
	line-height: 26px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.find li.more a:hover{
	border: 1px dotted #fc2a06;
	color: #fc2a06;
	text-decoration: none;
}
.find li .mask,
.find li .info,
.find li .go{
	display: none;
	height: 98px;
	left: 0;
	position: absolute;
	top: 0;
	width: 159px;
}
.find li .go{
	display: block;
	text-indent: -999px;
	overflow: hidden;
}
.find li .go:hover{
	background: url(../imgs/icon-player.png) 1000px 1000px no-repeat;
}
.find li.hover .mask{
	background: #000;
	display: block;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
}
.find li.hover .info{
	display: block;
}
.find li.hover .info .p1{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.find li.hover .info .p2{
	font-size: 12px;
	color: #dfdfdf;
	font-weight: bold;
}
/*music*/
.music{
	*zoom: 1;
}
.music:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.music .top-mv{}
.music .top-mv ul{
	*zoom: 1;
}
.music .top-mv ul:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.music .top-mv ul li{
	display: inline;
	float: left;
	margin-left: 16px;
}
.music .top-mv ul li.first{
	margin-left: 0;
}
.music .top-mv ul li img{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
}
.music .top-mv ul li .nm{
	margin-top: 3px;
}
.music .hot-music{
	padding-top: 20px;
}
.music .hot-music ul{
	*zoom: 1;
}
.music .hot-music ul:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.music .hot-music li{
	float: left;
	padding: 5px 0 5px 0;
	height: 22px;
	overflow: hidden;
	line-height: 24px;
}
.music .top-mv .nm a:hover,
.music .hot-music li a:hover,
.music .top-mv .nm a.on,
.music .hot-music li a.on{
	color: #fc2a06;
	text-decoration: underline;
}

.music-control{
	overflow: hidden;
}
.music-control a{
	display: block;
	background: url(../imgs/music_control.png) no-repeat;
	position: relative;
}
.music-control .go{
	background-position: 0 0;
}
.music-control .go.hover{
	background-position: -52px 0;
}
.music-control .pause{
	background-position: 0 -52px;
}
.music-control .pause.hover{
	background-position: -52px -52px;
}
.music-control .prev{
	width: 23px;
	height: 23px;
	margin: 0 0 0 15px;
	background-position: 0 -104px;
}
.music-control .prev.hover{
	background-position: -23px -104px;
}
.music-control .stop{
	width: 23px;
	height: 23px;
	margin: -23px 0 0 47px;
	background-position: 0 -150px;
}
.music-control .stop.hover{
	background-position: -23px -150px;
}
.music-control .next{
	width: 23px;
	height: 23px;
	margin: -23px 0 0 80px;
	background-position: 0 -127px;
}
.music-control .next.hover{
	background-position: -23px -127px;
}
.music-control .big{
	width: 52px;
	height: 52px;
	margin: 20px 33px 0;
}

.music-control .big{
	width: 52px;
	height: 52px;
	margin: 20px 33px 0;
}
.control-layer{
	width: 118px;
	height: 102px;
	margin-top: -102px;
	background: url(../imgs/opacity_white.png); 
	border-radius: 3px;
	position: relative;
	z-index: 1;
}
.control-layer-black{
	width: 118px;
	height: 102px;
	margin-top: -102px;
	background-color: #000;
	border-radius: 3px;
	position: absolute;
	z-index: 2;
	clip: rect(0px 0px 102px 0px);
}

/*pics*/
.pics{
	text-align: center;
	overflow: hidden;
}
.pics img{
	vertical-align: middle;
	width: 310px;
	height: 448px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.pics .items{
	height: 448px;
	overflow: hidden;
	width: 310px;
}
.pics .items li{	
	overflow: hidden;
	position: relative;
	float: left;
}
.pics .pg{
	height: 5px;
	position: absolute;
	left: 50%;
	margin-left: -52px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
}
.pics .pg li{
	cursor: pointer;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	float: left;
	height: 5px;
	margin: 0 5px;
	overflow: hidden;
	text-indent: -999px;
	vertical-align: middle;
	width: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}
.pics .pg li.current{
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.pics .items li .mask{
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.pics .items li .info{
	color: #fff;
	display: none;
	left: 0;
	position: absolute;
	text-align: left;
	top: 0;
}
.pics .items li.hover .mask,
.pics .items li.hover .info{
	display: block;
}
.pics .items li .info .p1{
	font-size: 14px;
}
.pics .items li .info .p2{
	font-size: 12px;
	line-height: 20px;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}
.pics .items li .info .p3{
	position: absolute;
	bottom: 30px;
	height: 24px;
	line-height: 24px;
}
.pics .items li .info .p3 a,
.pics .items li .info .p3 a:hover{
	border: 1px dotted #fff;
	color: #fff;
	display: block;
	float: left;
	line-height: 24px;
	margin: 0 8px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/*lk-dialog*/
.lk-dialog{
	background: #fff;
	color: #727171;
	font-size: 12px;
}
.lk-dialog .lkd-hd{
	padding: 20px 30px 0;
	height: 35px;
	font-size: 20px;
	position: relative;
}
.lk-dialog .lkd-hd .msg{
	color: #f00;
	font-size: 12px;
	padding-left: 20px;
}
.lk-dialog .lkd-bd{
	padding: 0 30px 15px;
}
.lk-dialog .lkd-ft{
	background: #eeefef;
	height: 42px;
	padding: 13px 0 13px 30px;
}
.lk-dialog .close{
	position: absolute;
	top: 10px;
	right: 10px;
}
.lk-dialog .ipt{
	background: #eeefef;
	border: 1px solid #e0e1e1;
	color: #717071;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	padding: 12px 5px;
	width: 310px;
	vertical-align: middle;
}
.lk-dialog .vcode .ipt{
	margin-right: 10px;
	width: 105px;
}
.lk-dialog .vcode img{
	cursor: pointer;
	vertical-align: middle;
}
.lkd-reg,
.lkd-login,
.lkd-add,
.lkd-btn,
.lkd-edit,
.lkd-del{
	display: block;
	float: left;
	height: 42px;
	line-height: 42px;
	text-align: center;
}
.lkd-reg,
.lkd-add,
.lkd-btn,
.lkd-edit,
.lkd-del{
	background: #238b3a;
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
	width: 156px;
}
.lkd-login{
	background: #fff;
	color: #666;
	text-decoration: none;
	width: 156px;
}
.lkd-reg:hover,
.lkd-add:hover,
.lkd-edit:hover,
.lkd-btn:hover{ background: #60ad6b; }
.lkd-login:hover{ background: #dcdcdd; }
.lkd-del{
	background: #c8151e;
}
.lkd-del:hover{
	background: #d26e7f;
}
.lk-dialog ul li{
	padding-top: 8px;
}
/***** å„åº”ç”¨å±‚ *****/
.lk-dialog-reg,
.lk-dialog-login,
.lk-dialog-zld{
	width: 384px;
}
.lk-dialog-fpass{
	width: 390px;
}
.lk-dialog-login .lkd-reg,
.lk-dialog-zld .lkd-add,
.lk-dialog-fpass .lkd-btn{
	width: 322px;
}
.lk-dialog-login .rpass{}
.lk-dialog-login .rpass span{
	float: right;
}
.lk-dialog-login .rpass input{
	vertical-align: text-bottom;
	margin-bottom: 2px;
	*margin-bottom: -2px;
}
.rpass a{
	color: #727171;
	text-decoration: underline;
	margin-left: 10px;
}
.rpass a:hover{
	color: #b4b5b5;
	text-decoration: underline;
}
.rpass span a{
	color: #329347;
}
.rpass span a:hover{
	color: #60ad6b;
}
.lk-dialog-zld ul{
	margin-top: -30px;
}
.lk-dialog-settings{
	width: 502px;
}
.lk-dialog-settings  .lkd-bd{
	padding: 0;
}
.settings{}
.settings .settings-tabs{
	border-bottom: 1px solid #eceded;
}
.settings .settings-tabs{
	padding: 0 0 0 25px;
	height: 26px;
}
.settings .settings-tabs a{
	border: 1px solid #eceded;
	border-width: 1px 1px 0 1px;
	color: #727171;
	display: block;
	float: left;
	height: 26px;
	line-height: 26px;
	margin-right: 5px;
	text-align: center;
	width: 218px;
	text-decoration: none;
}
.settings .settings-tabs a.on{
	background: #238b3a;
	border: 1px solid #59a86b;
	border-width: 1px 1px 0 1px;
	color: #fff;
	text-decoration: none;
}
.lk-dialog-settings .settings{
	margin-top: -20px;
	position: relative;
	z-index: 2;
}
.settings .settings-content{}
.settings .settings-content .ttl,
.settings .settings-content .ft{
	padding: 10px 0 10px 25px;
	height: 16px;
	line-height: 16px;
	font-weight: bold;
}
.settings .settings-content .ttl{
	border-bottom: 1px solid #eceded;
}
.settings .settings-content .ft{
	border-top: 1px solid #eceded;
}
.settings .settings-content .ct{
	padding: 15px 0 15px 25px;
	height: 114px;
}
.settings .settings-content .ct li{
	float: left;
	margin-right: 5px;
	padding: 0;
}
.settings .settings-content .ct li img{
	border: 2px solid #fff;
	cursor: pointer;
	vertical-align: middle;
	width: 218px;
}
.settings .settings-content .ct li.on img{
	border: 2px solid #238b3a;
}
.settings .settings-content .ft em,
.settings .settings-content .ft span,
.settings .settings-content .ft .process{
	float: left;
}
.settings .settings-content .ft span{
	font-weight: normal;
	padding: 0 5px;
}
.settings .settings-content .ft em{
	margin-right: 10px;
}
.lk-dialog-settings .lkd-ft{
	padding-left: 25px;
}
.lk-dialog-settings .lkd-ft label{
	float: left;
	font-weight: bold;
	line-height: 42px;
	width: 149px;
}
.lk-dialog-settings .lkd-ft label input{
	vertical-align: text-bottom;
	margin-bottom: 2px;
	*margin-bottom: -2px;
}
.lk-dialog-settings .lkd-add{
	width: 300px;
}
.lk-dialog-settings .lkd-add em{
	background: url(../imgs/sprite.png) -155px -6px no-repeat;
	display:block;
	width: 24px;
	height: 18px;
	text-indent: -999px;
	overflow: hidden;
	margin: 12px auto 0;
}
.bg-ttl{
	height: 26px;
	padding: 15px 27px 10px 25px;
}
.bg-ttl .pg{
	float: right;
	padding-top: 8px;
}
.bg-ttl .pg li{
	display: inline;
	float: left;
	line-height: 13px;
	margin: 0 5px;
	padding: 0;
}
.bg-ttl .pg li.on a,
.bg-ttl .pg li.on a:hover{
	color: #238b3a;
	font-weight: bold;
}
.bg-ttl .pg li.prev a,
.bg-ttl .pg li.prev a:hover,
.bg-ttl .pg li.next a,
.bg-ttl .pg li.next a:hover{
	background: url(../imgs/sprite.png) 1000px 1000px no-repeat;
	display: block;
	height: 13px;
	overflow: hidden;
	text-indent: -999px;
	width: 13px;
	vertical-align: middle;
}
.bg-ttl .pg li.prev a,
.bg-ttl .pg li.prev a:hover{
	background-position: -189px -8px;
}
.bg-ttl .pg li.next a,
.bg-ttl .pg li.next a:hover{
	background-position: -219px -8px;
}
.bg-ttl .pg a,
.bg-ttl .pg a:hover{
	color: #727171;
}
.bg-style,
.bg-custom{
	border: 1px solid #eceded;
	cursor: pointer;
	height: 26px;
	color: #727171;
	text-align: center;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
	display: block;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	float: left;
	margin-right: 5px;
	vertical-align: middle;
}
.bg-style{
	background: #fff  url(../imgs/up2.png) 90px 10px no-repeat;
	color: #727171;
	position: relative;
	width: 90px;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}
.bg-on{
	background: #238b3a url(../imgs/down2.png) 90px 10px no-repeat;
	color: #fff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.bg-style a{
	color: #727171;
}
.bg-style ul{
	border-top: 0;
	padding: 0;
}
.bg-style ul li{
	padding: 0;
}
.bg-style ul a{
	color: #727171;
	display: block;
	height: 22px;
	line-height: 22px;
	padding: 3px;
}
.bg-style ul a:hover{
	background: #228b3b;
	color: #fff;
}
.bg-custom{ width: 50px; }
.bg-custom:hover,
.bg-custom-on{
	background: #eeefef;
	text-decoration: none;
}
.bg-list{
	padding-bottom: 20px;
}
.bg-list .imglist{
	*zoom: 1;
	padding-left: 25px;
}
.bg-list .imglist:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.bg-list .imglist li{
	cursor: pointer;
	display: inline;
	float: left;
	margin-right: 1px;
}
.bg-list .imglist li img{
	border: 1px solid #eceded;
	padding: 1px;
	height: 70px;
	width: 108px;
	vertical-align: middle;
}
.bg-list .imglist li.on img{
	border: 1px solid #238b3a;
}
/*lk-dialog-fpass*/
.lk-dialog-fpass .lkd-bd{
	padding: 0;
	margin-top: -30px;
}
.lk-dialog-fpass .lkd-bd ul{
	padding: 0 25px 15px;
}
.lk-dialog-fpass .ipt{
	width: 322px;
}
.lk-dialog-fpass .tabs{
	border-bottom: 1px solid #eceded;
	height: 27px;
	padding: 0 25px;
}
.lk-dialog-fpass .tabs a{
	border: 1px solid #eceded;
	border-width: 1px 1px 0 1px;
	color: #727171;
	display: block;
	float: left;
	height: 26px;
	line-height: 26px;
	margin-right: 5px;
	text-align: center;
	width: 106px;
	text-decoration: none;
}
.lk-dialog-fpass .tabs a.on{
	background: #238b3a;
	border: 1px solid #59a86b;
	border-width: 1px 1px 0 1px;
	color: #fff;
	text-decoration: none;
}
/*process*/
.process{
	background: url(../imgs/process.png) 1000px  1000px no-repeat;
	height: 10px;
	overflow: hidden;
	background-position: 0 0;
	height: 10px;
	width: 288px;
	margin-top: 3px;
}
/*upload-panel*/
.upload-panel{
	display: none;
	padding: 10px 30px 0 25px;
}
.upload-panel .upload-demo{
	border: 1px solid #e5e6e6;
	float: left;
	height: 73px;
	overflow: hidden;
	width: 109px;
}
.upload-panel .upload-demo-box{
	display: table-cell;
	height: 73px;
	text-align: center;
	vertical-align: middle;
	width: 109px;
	*display: block;
	*font-family: Arial;
	*font-size: 63px;
}
.upload-panel .upload-demo img{
	vertical-align: middle;
}
.upload-panel .upload-ct{
	padding-left: 120px;
}
.upload-panel .upload-ct label input{
	vertical-align: text-bottom;
	margin-bottom: 2px;
	*margin-bottom: -2px;
}
.upload-panel .txtimg,
.upload-panel .btnimg{
	border: 1px solid #e8e8e8;
	display: inline-block;
	color: #b9baba;
	height: 18px;
	line-height: 18px;
	padding: 10px 5px;
	width: 195px;
	vertical-align: middle;
	margin-bottom: 8px;
}
.upload-panel .btnimg{
	background: #fff;
	color: #858484;
	text-align: center;
	margin-left: 7px;
	width: 100px;
}
.upload-panel .color{
	border: 1px solid #e2e2e3;
	display: inline-block;
	height: 16px;
	margin-left: 10px;
	vertical-align: middle;
	width: 34px;
}
.upload-panel .row2{
	line-height: 28px;
}
.upload-panel .row2 label{
	padding-right: 5px;
}
.upload-panel .bg-style{
	float: right;
	margin-right: 0;
}
.upload-ctls{
	padding-top: 10px;
	height: 42px;
	clear: left;
}
.upload-ctls a{
	background: #238b3a;
	color: #fff;
	display: block;
	height: 42px;
	line-height: 42px;
	text-align: center;
	text-decoration: none;
	width: 447px;
}
.upload-ctls a:hover{
	background: #60ad6b;
}

/*é‡å†™*/
.lk-dialog-settings .ui-widget-content{ border: 0; }
.lk-dialog-settings .ui-widget-header{
	background-image: url(../imgs/process.png);
	background-position: right -10px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.lk-dialog-settings .ui-corner-all{
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.lk-dialog-settings .ui-slider .ui-state-default,
.lk-dialog-settings .ui-slider .ui-slider-handle{
	border: 0;
	margin: 0 3px 0 0;
	cursor: pointer;
	background: #9fa0a0;
	width: 4px;
	overflow: hidden;
}

/*screen btn*/
.screen-change-btn{
	position:absolute;
	height:40px;
	line-height:40px;
	margin-left:-40px;
}
.screen-change-btn a{
	color:#bbbaba;
}
.screen-change-btn a:hover{
	color:red;
}
.screen-change-btn .s-wide{
	font-size:12px;
}
.screen-change-btn .s-960{
	font-size:14px;
}

/*960*/
.header,
.container,
.footer,
.frame-wrap{
	min-width: 960px;
	width: 100%;
}
.header-inner,
.container-inner,
.footer-inner,
.frame-wrap{
	width: 960px;
	margin: 0 auto;
}
.extra .extra-col1,
.extra .extra-col2{
	margin-right: 25px;
}
.extra .extra-col1{ width: 410px; }
.extra .extra-col2{ width: 250px; }
.extra .extra-col3{ width: 250px; }

.screen-change-btn .s-wide{
	display:inline;
}
.screen-change-btn .s-960{
	display:none;
}

.thl{
 	margin-left: 320px; 
	width: 410px;
}
.thl .ctls .ipt{
	width: 360px;
}
.thl .subcate{
	left: 30px;
}
.thl .cate{
	left: 45px;
}
.nav{ font-size: 12px; }
.nav li a{ padding: 0 10px; }
.schedule li .t input{ width: 250px; }
.find ul{ margin-left: -7px; }
.find li{
	height: 82px;
	margin: 0 0 7px 7px;
	width: 132px;
}
.find li.more{ width: 410px; margin: 0 0 0 7px;} 
.find li.hover .info{
	padding: 15px 10px 0 10px;
	width: 110px;
	height: 67px;
}
.find li .mask,
.find li .info,
.find li .go{
	height: 82px;
	width: 132px;
}
.find li .go:hover{
	background-position: 40px 15px;
}
.find li img{
	height: 82px;
	width: 133px;
}
.music .top-mv ul li img{
	height: 102px;
	width: 118px;
}
.music .top-mv ul li{
	margin-left: 14px;
	width: 118px;
}
.music .hot-music li{
	padding-right: 15px;
	width: 110px;
}
.music .hot-music li.odd{
	margin-left: 14px;
}
.pics{
	height: 386px;
	width: 250px;
}
.pics .items li,
.pics img{
	height: 361px;
	width: 250px;
}
.pics .items li .info .p2{
	margin-top: 10px;
}
.pics .pg{
	top: 376px;
}
.pics .items li .info{
	width: 200px;
	padding: 25px 25px;
	height: 318px;
}
.pics .items li .info .p3{
	left: 25px;
	width: 200px;
}
.pics .items li .info .p3 a,
.pics .items li .info .p3 a:hover{
	width: 82px;
}
.music-control .prev{
	margin:0 0 0 15px; 
}
.music-control .stop{
	margin:-23px 0 0 47px; 
}
.music-control .next{
	margin:-23px 0 0 80px; 
}
.music-control .big{
	margin:20px 33px 0;
}
.control-layer{
	width:118px; height:102px; margin-top:-102px;
}
.control-layer-black{
	width:118px; height:102px;  margin-top:-102px;
}

/*1175*/
.widescreen .header,
.widescreen .container,
.widescreen .footer,
.widescreen .frame-wrap{
	min-width: 1175px;
	width: 100%;
}
.widescreen .header-inner,
.widescreen .container-inner,
.widescreen .footer-inner,
.widescreen .frame-wrap{
	width: 1175px;
	margin: 0 auto;
}
.widescreen .extra .extra-col1,
.widescreen .extra .extra-col2{
	margin-right: 25px;
}
.widescreen .extra .extra-col1{ width: 500px; }
.widescreen .extra .extra-col2{ width: 310px; }
.widescreen .extra .extra-col3{ width: 310px; }

.widescreen .screen-change-btn .s-wide{
	display:none;
}
.widescreen .screen-change-btn .s-960{
	display:inline;
}

.widescreen .thl{
	margin-left: 400px; 
 	width: 460px;
}
.widescreen .thl .ctls .ipt{
	width: 415px;
}
.widescreen .thl .subcate{
	left: 53px;
}
.widescreen .thl .cate{
	left: 87px;
	top: 34px;
}
.widescreen .nav{ font-size: 14px; }
.widescreen .nav li a{ padding: 0 20px; }
.widescreen .schedule li .t input{ width: 340px; }
.widescreen .find ul{ margin-left: -10px; }
.widescreen .find li{
	height: 98px;
	margin: 0 0 10px 10px;
	width: 159px;
}
.widescreen .find li.more{ width: 500px; margin: 0 0 0 10px;}
.widescreen .find li.hover .info{
	padding: 30px 15px 0 15px;
	width: 129px;
	height: 68px;
}
.widescreen .find li .mask,
.widescreen .find li .info,
.widescreen .find li .go{
	height: 98px;
	width: 159px;
}
.widescreen .find li .go:hover{
	background-position: 55px 25px;
}
.widescreen .find li img{
	height: 98px;
	width: 159px;
}
.widescreen .music .top-mv ul li img{
	height: 128px;
	width: 147px;
}
.widescreen .music .top-mv ul li{
	width: 147px;
}
.widescreen .music .hot-music li{
	padding-right: 15px;
	width: 140px;
}
.widescreen .music .hot-music li.odd{
	margin-left: 16px;
}
.widescreen .pics{
	height: 473px;
	width: 310px;
}
.widescreen .pics .items li,
.widescreen .pics img{
	height: 448px;
	width: 310px;
}
.widescreen .pics .items li .info .p2{
	margin-top: 20px;
}
.widescreen .pics .pg{
	top: 463px;
}
.widescreen .pics .items li .info{
	width: 250px;
	padding: 35px 30px;
	height: 378px;
}
.widescreen .pics .items li .info .p3{
	left: 30px;
	width: 260px;
}
.widescreen .pics .items li .info .p3 a,
.widescreen .pics .items li .info .p3 a:hover{
	width: 110px;
}
.widescreen .music-control .prev{
	margin:0 0 0 29px; 
}
.widescreen .music-control .stop{
	margin:-23px 0 0 62px; 
}
.widescreen .music-control .next{
	margin:-23px 0 0 94px; 
}
.widescreen .music-control .big{
	margin:30px 47px 0;
}
.widescreen .control-layer{
	width:147px; height:128px; margin-top:-128px;
}
.widescreen .control-layer-black{
	width:147px; height:128px;  margin-top:-128px;
}