.clearafter{content:'\0020';display:block;height:0;clear:both}
.inputsubmit{font-size:0;line-height:-999px;overflow:hidden}
input,textarea,select{color:#727171;resize:none;outline:0;margin:0}
label input{height:13px;width:13px;vertical-align:-2px}
.aline{color:#325e7f;margin:0 5px;text-decoration:underline}
.btn-upload,.btn-camera,.btn-upfile,.btn-saveprofile,.btn-getnum,.btn-save,.btn-add,.btn-ok,.btn-mail,.btn-send,.btn-bind,.btn-v,.btn-stopmail,.btn-stopphone,.btn-stopqs,.btn-findmail,.btn-stop,.btn-next,.btn-additem,.btn-mod{background:url(../imgs/uc-sprite.png) 1000px 1000px no-repeat;border:0 none;cursor:pointer;display:block;font-size:0;line-height:999px;overflow:hidden;vertical-align:middle}
.btn-saveprofile,.btn-save,.btn-add,.btn-ok,.btn-send,.btn-bind,.btn-findmail,.btn-stop,.btn-next{font-size:0;line-height:-999px;overflow:hidden}
.btn-upload{background-position:0 0;height:42px;width:129px}
.btn-camera{background-position:0 -47px;height:42px;width:129px}
.btn-upfile{background-position:0 -94px;height:43px;width:263px}
.btn-saveprofile{background-position:0 -165px;height:43px;width:138px}
.btn-getnum{background-position:0 -142px;display:inline-block;margin:0 0 0 10px;height:18px;width:49px}
.btn-save{background-position:0 -213px;height:31px;width:98px}
.btn-add{background-position:0 -249px;display:inline-block;height:24px;margin-left:10px;width:62px}
.btn-ok{background-position:0 -278px;display:inline-block;height:31px;width:98px}
.btn-mail{background-position:-54px -141px;display:inline-block;margin-left:10px;height:19px;width:89px}
.btn-send{background-position:0 -314px;height:31px;width:98px}
.btn-bind{background-position:-103px -213px;display:inline-block;height:31px;width:98px}
.btn-v{background-position:-148px -141px;display:inline-block;margin-left:10px;height:19px;width:89px}
.btn-stopmail,.btn-stopphone,.btn-stopqs{display:inline-block;height:24px;margin-right:10px;width:97px}
.btn-stopmail{background-position:0 -350px}
.btn-stopphone{background-position:-102px -350px}
.btn-stopqs{background-position:-204px -350px}
.btn-findmail{background-position:-143px -165px;height:24px;width:81px}
.btn-stop{background-position:-229px -165px;height:24px;width:81px}
.btn-next{background-position:-103px -278px;height:31px;width:98px}
.btn-additem{background-position:-134px 0;height:24px;width:92px}
.btn-mod{background-position:-206px -278px;height:31px;width:98px}
.tb-form td{padding-top:5px;padding-bottom:10px;line-height:28px;vertical-align:top}
.tb-form td.a{width:90px}
.tb-form td.b{width:auto}
.tb-form td.c{text-align:right;width:150px}
.tb-form label{padding-right:10px}
.ipt-s,.ipt-m,.ipt-l{border:1px solid #e5e5e5;height:16px;line-height:16px;padding:5px;vertical-align:middle}
.ipt-s{width:128px}
.ipt-m{width:238px}
.ipt-l{width:328px}
.ta-l{border:1px solid #e5e5e5;height:20px;line-height:20px;padding:5px;height:128px;width:328px}
.ipt-dis{background:#eeefef;border:1px solid #e5e5e5}
.avator-panel{color:#b5b5b6;*zoom:1}.avator-panel .avatorupload{background:url(../imgs/avatorupload.jpg) center center no-repeat;height:390px;float:left;margin-right:20px;width:390px}
.avator-panel .avatorupload:after{content:'\0020';display:block;height:0;clear:both}
.avator-panel .avatorctls{float:left}.avator-panel .avatorctls .ac1{height:42px;margin-bottom:10px}.avator-panel .avatorctls .ac1 .btn-upload{float:left;margin-right:15px}
.avator-panel .avatorctls .ac1 .btn-camera{float:left}
.avator-panel .avatorctls .ac2{margin-bottom:20px}
.avator-panel .avatorctls .ac3{height:210px;margin-bottom:10px;position:relative;overflow:hidden}.avator-panel .avatorctls .ac3 .p1,.avator-panel .avatorctls .ac3 .p2,.avator-panel .avatorctls .ac3 .p3{position:absolute}
.avator-panel .avatorctls .ac3 .p1{float:left;text-align:center;top:0;left:0;width:180px}.avator-panel .avatorctls .ac3 .p1 img{margin-bottom:10px}
.avator-panel .avatorctls .ac3 .p2{float:left;text-align:center;top:0;left:190px;width:80px}
.avator-panel .avatorctls .ac3 .p3{float:left;text-align:center;top:115px;left:190px;width:80px}
.avator-panel .avatorctls .ac3 .p2 img,.avator-panel .avatorctls .ac3 .p3 img{display:block;margin:0 auto;margin-bottom:5px}
.avator-panel .avatorctls .ac4{margin-bottom:20px}
.n-list{padding-top:20px}.n-list h3{color:#000;font-weight:bold;margin-bottom:5px}
.n-list li{padding:3px 0}.n-list li a,.n-list li a:hover{color:#325e7f}
.process{border:1px solid #e5e5e5;display:inline-block;*display:inline;*zoom:1;height:8px;margin-right:5px;overflow:hidden;width:250px}.process .process-inner{float:left;height:8px;vertical-align:middle}
.edu-panel .edu-list{border-bottom:1px solid #eceded;padding-bottom:30px;margin-bottom:30px}.edu-panel .edu-list ul{margin-bottom:10px;*zoom:1}.edu-panel .edu-list ul li{background:#eeefef;display:inline;float:left;height:103px;margin-right:10px;width:103px}
.edu-panel .edu-list ul:after{content:'\0020';display:block;height:0;clear:both}
.edu-panel .tb-form .sc{padding-top:5px}.edu-panel .tb-form .sc select{margin-right:10px}
.tag-panel{overflow:hidden}.tag-panel .tag-list{*zoom:1}.tag-panel .tag-list li{background:#82c7a2;color:#fff;display:inline;float:left;height:16px;line-height:16px;margin:0 10px 10px 0;padding:6px 10px}.tag-panel .tag-list li a,.tag-panel .tag-list li a:hover{color:#fff;white-space:nowrap}
.tag-panel .tag-list:after{content:'\0020';display:block;height:0;clear:both}
.tag-panel .tag-def-list{padding-right:20px;*zoom:1;padding-bottom:20px}.tag-panel .tag-def-list li i{background:url(../imgs/uc-sprite.png) right 0 no-repeat;display:inline-block;height:10px;margin-right:3px;overflow:hidden;line-height:999px;font-size:0;vertical-align:middle;width:10px}
.tag-panel .tag-myadd{padding-bottom:30px}.tag-panel .tag-myadd p{padding-bottom:5px}
.tag-panel .tag-friend-list{padding-bottom:5px}
.tag-panel .tag-my-list{padding-bottom:50px}.tag-panel .tag-my-list .del{background:url(../imgs/uc-sprite.png) right -15px no-repeat;display:inline-block;height:6px;text-indent:-999px;overflow:hidden;margin-left:5px;width:6px;vertical-align:middle}
.tag-panel .tag-ctls{padding-top:30px}
.url-panel p{padding-bottom:10px}
.url-panel .tips{color:#f00;padding-left:10px}
.mail-panel p{padding-bottom:30px}
.mail-panel .mail-tips{padding-top:20px}.mail-panel .mail-tips ul{padding-right:20px;*zoom:1}.mail-panel .mail-tips ul li{float:left;margin:0 10px 10px 0}
.mail-panel .mail-tips ul:after{content:'\0020';display:block;height:0;clear:both}
.mail-panel .mail-tips p{padding-bottom:15px}
.mail-panel .mail-tips a,.mail-panel .mail-tips a:hover{display:block;background:#82c7a2;color:#fff;height:16px;line-height:16px;padding:6px 10px;text-align:center}
.phone-panel p{padding-bottom:20px}
.phone-panel em{color:#238b3a;font-weight:bold;padding-right:10px}
.phone-panel .tips{padding-left:10px}
.stop-panel .tabs{margin-bottom:20px}
.stop-panel .cnt p{padding-bottom:10px}
.stop-panel .cnt .ctls{padding-top:10px}
.pwdprotect-panel select{width:250px}
.pwdprotect-panel .tips{color:#b5b5b6}
.pwdprotect-panel .pwdprotectreset .p1{color:#238b3a;padding:30px 0}
.find-panel p{padding-bottom:15px}.find-panel p em{color:#000;font-weight:bold;font-size:14px}
.find-panel .step-1,.find-panel .step-2,.find-panel .step-3{padding-top:25px}
.find-panel .ctls{padding-top:20px}
.safe-panel .uc-lv{*zoom:1}.safe-panel .uc-lv .uc-lv-1{float:left;font-weight:bold;width:60px}
.safe-panel .uc-lv .uc-lv-2{color:#b5b5b6;float:left}.safe-panel .uc-lv .uc-lv-2 .process{width:600px}
.safe-panel .uc-lv:after{content:'\0020';display:block;height:0;clear:both}
.safe-panel .uc-log{border-bottom:1px solid #eceded;margin-top:30px;padding-bottom:30px}.safe-panel .uc-log .p1{color:#238b3a;margin-bottom:5px}.safe-panel .uc-log .p1 span{padding-right:20px}
.safe-panel .uc-log .p2{color:#b5b5b6}
.safe-panel .uc-safe li{border-bottom:1px solid #eceded;padding:40px 0;overflow:hidden}.safe-panel .uc-safe li i{background:url(../imgs/uc-sprite.png) 1000px 1000px no-repeat;display:inline-block;height:20px;overflow:hidden;line-height:999px;font-size:0;vertical-align:middle;margin-right:5px;width:27px}
.safe-panel .uc-safe li i.y{background-position:right -26px}
.safe-panel .uc-safe li i.n{background-position:right -51px}
.safe-panel .uc-safe li:after{content:'\0020';display:block;height:0;clear:both}
.safe-panel .uc-safe .ucs-1,.safe-panel .uc-safe .ucs-2,.safe-panel .uc-safe .ucs-3{float:left}
.safe-panel .uc-safe .ucs-1{width:100px}
.safe-panel .uc-safe .ucs-2{padding-left:10px;width:300px}
.safe-panel .uc-safe .ucs-3{width:100px}
.safe-panel .uc-safe .p1{color:#727171}
.safe-panel .uc-safe .p2{color:#b5b5b6;padding-top:5px}
.common-panel .common-list li{border-bottom:1px solid #eceded;padding:0 0 20px 0;margin-bottom:20px}.common-panel .common-list li h3{color:#000;font-size:14px;font-weight:bold;margin-bottom:10px}.common-panel .common-list li h3 span{color:#b5b5b6;font-size:12px;font-weight:normal;padding-left:10px}
.common-panel .common-list li li{border:0;margin:0;height:16px;line-height:16px;padding:5px 0}
.data-panel h3{color:#000;font-size:14px;margin-bottom:15px}.data-panel h3 span{color:#b5b5b6;font-size:12px;font-weight:normal;padding-left:10px}
.data-panel p{padding-bottom:10px}
.data-panel .ctls{margin-top:10px}
.data-panel .data-seo{border-bottom:1px solid #eceded;padding-bottom:30px;margin-bottom:30px}.data-panel .data-seo li{padding-bottom:10px}
.record-panel .record-x,.record-panel .record-empty,.record-panel .record-protect{border-bottom:1px solid #eceded;padding-bottom:30px;margin-bottom:30px}.record-panel .record-x h3,.record-panel .record-empty h3,.record-panel .record-protect h3{color:#000;font-size:14px;margin-bottom:15px}.record-panel .record-x h3 span,.record-panel .record-empty h3 span,.record-panel .record-protect h3 span{color:#b5b5b6;font-size:12px;font-weight:normal;padding-left:10px}
.record-panel .record-x ul{margin-bottom:10px}.record-panel .record-x ul li{padding-bottom:10px}
.record-panel p{padding-bottom:10px}
.record-panel .ctls{margin-top:10px}
.dialog-protect{border:1px solid #f00;padding:20px;width:310px}.dialog-protect h2{color:#727171;font-size:20px;margin-bottom:10px}
.dialog-protect .tips{padding-left:10px}
