/*************************************************************
** dark_ext
*************************************************************/


.header {
    background: #424143
}

.logo {
    background: url(logo.png) 0 0 no-repeat;
}

.weather-icon {
    background-image: url(weather-icon-psd.png);
}

#container{
    background: url(bg.jpg) 0 0 repeat;
    background-size: cover;
}

/* white */

.zdl .ipt {
    font-size: 12px;
}
.zdl .btn {
    height: 16px;
    top: 12px;
    background-position: -93px -36px;
}

.nav,
.nav li {
    border: 0;
}

.nav li a {
    padding-left: 17px;
    padding-right: 17px;
    color: #fff;
}

.screen-theme .change-theme-btn {
    width: 16px;
    height: 16px;
    background-position: -247px -36px;
    margin-top: 9px;
    margin-left: 9px;

}

#K_change_skin_btn, .screen-change-btn a {
    color: #fff;
}
.uc-menu .nm {
    background: #e9e9e9;
    line-height: 25px;
}
.thl .ctls {
    background: #f4f4f4;
}
.thl .ctls .ipt {
    background: transparent;
}
.thl .subcate a.on, 
.thl .subcate a.on:hover,
.thl .cate a.on,
.thl .cate a.on:hover,
.thl .subcate a:hover {
    color: #ff2b06;
}
.thl .cate-in,
.thl .cate-in a{
    color: #666;
}
.header-weather .region {
    color: #424143;
}

.zld ul li .nm,
.zld ul li .ctl {
    background: url(/v303b/imgs/op30.png) 0 0 repeat-x;
}
.zld ul li .ctl i {
    width: 26px;
    height: 26px;
    display: block;
    background-image: url(sprite.png);
    background-position: -2px -1px;
    background-repeat: no-repeat;
}

.zld ul .add .ctl {
    padding: 2px;
    border-radius: 30px;
    margin-top: 4px;
}
.zld ul li.add .ctl i {
    background: url(sprite.png) -31px -1px no-repeat;
}

.zld ul li .nm:hover,
.zld ul li .ctl:hover {
    background-color: transparent;
    background: url(/v303b/imgs/op30.png) 0 0 repeat-x;
}

.app-icon-list .app-more .more {
    margin-right: -5px;
    background-image: url(sprite.png);
    background-repeat: no-repeat;
}
            
.app-icon-list .ang {
    opacity: 1;
    border-width: 13px
}
.app-icon-list .ang-back {
    border-color: transparent transparent #bbb;
    right: 15px;
    top: -27px;
    border-width: 13px
}

.cal-date-marks-table li .blue {
    background: transparent;
    color: #424143;
}
.cal-date-marks-table .desc-content:hover {
    color: #424143;
}

.extra-calendar .cal-header .cal-header-date-prev,
.extra-calendar .cal-header .cal-header-date-next {
    background-image: url(sprite.png);
    background-repeat: no-repeat;
}

.extra-calendar .cal-day .cal-mini-month-panel td .active, 
.extra-calendar .cal-day .cal-mini-month-panel th .active {
    width: 18px;
    height: 18px;
    line-height: 19px;
    border-radius: 30px;
    margin: 2px 0 0 2px;
    background: #424143;/*url(sprite.png) -96px -4px no-repeat;*/
}


body {
    color: #424143;
}



.box-apps {
    border-top: 1px solid #919191;
}
/*.box .box-hd {
    border-top: 1px solid #dbdbdb;
}*/

.app-icon-list .app-more .more {
    width: 25px;
    height: 25px;
    display: block;
    background-position: -62px -1px;
    border-radius: 30px;
    /*background-color: #eee;*/
}
.box-apps .box-bd {
    padding-top: 0;
}
.extra-box {
    width: 463px;
    border-top: 1px solid #919191;
    border-bottom: 0;
}
.title-tabs {
    padding: 10px 0;
    margin: 0;
    /*border-top: 1px solid #dbdbdb;*/
}
.cal-header {
    /*border-top: 1px solid #dbdbdb;*/
    border-bottom: 1px solid #919191;
}
.cal-date-marks-table {
    margin-top: -1px;
    border-right: 1px solid #919191;
}
.extra-calendar .cal-day .cal-mini-month-panel {
    /*border-left: 1px solid #eee;*/
}
.extra-calendar .cal-body {
    border-top: 0;
}
.desc-input-div {
    background: transparent;
}
.desc-input-div input {
    width: 208px;
    height: 11px;
    line-height: 11px;
    border: 2px solid #a8c0ce;
    border-radius: 2px;
}
.extra-calendar .cal-day .cal-mini-month-panel .another-month a,
.extra-calendar .cal-day .cal-mini-month-panel .another-month a:hover,
.extra-calendar .cal-month .another-month a,
.extra-calendar .cal-month .another-month a:hover {
    color: #bbb;
}


.title-tabs li{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
}
.title-tabs span {
    color: #424143;
}
.title-tabs .active{
    color: #424143;
    background: none;
    border-bottom: 3px solid #fff;
}

.pic-news-tabs a {
    height: 4px;
}
.pic-news-tabs .active {
    background: #323440;
}


.text-news p a, 
.text-news p a:active,
.text-news p a:hover,
.pic-news-title a {
    color: #424143;
}

.text-news .more-news a, 
.text-news .more-news a:active,
.text-news .more-news a:hover {
    color: #323440;
}

.text-news p b{
    background: #424143;
}

.extra-calendar .cal-header .cal-view-select-btn:hover,
.extra-calendar .cal-header .active {
    border-bottom: 3px solid #424143;
}

.cal-date-marks-table li .dot {
    background: #424143;
}

.extra-calendar .cal-header .cal-header-date-prev {
    background-position: 0 -30px;
}
.extra-calendar .cal-header .cal-header-date-next {
    background-position: -30px -30px;
}

.extra-calendar .cal-day .cal-mini-month-panel table,
.extra-calendar .cal-day .cal-mini-month-panel td a, 
.extra-calendar .cal-day .cal-mini-month-panel th a,
.extra-calendar .cal-header button,
.extra-calendar .cal-header .cal-header-date {
    color: #424143;
}

.cal-date-marks-table li {
    border-bottom: 1px dashed #919191;
}

.cal-date-marks-table .blue {
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    border: 0;
    color: #424143;
}

.cal-month table th, .cal-week table th {
    border-right: 1px solid #919191;
}

.cal-month table td, .cal-week table td {
    border-top: 1px solid #919191;
    border-right: 1px solid #919191;
}

.extra-calendar .cal-month table, .extra-calendar .cal-week table {
    width: 465px;
}

.footer {
    width: 960px;
    margin: 50px auto 0;
}

    .site-info {
        border-top: 1px solid #919191;
        border-bottom: 1px solid #919191;
    }

.widescreen .footer,
.widescreen .footer-inner  {
    width: 1172px;
}

.site-info li a, .site-info li a:active, .friend-links li a, .friend-links li a:active {
    color: #424143;
}

.widescreen .extra-box {
    width: 569px;
}

.widescreen .text-news {
    width: 320px;
}
.widescreen .pic-news-title {
    font-size: 16px;
}

.widescreen .cal-date-marks-table {
    width: 350px;
}

.widescreen .extra-calendar .cal-day .cal-mini-month-panel {
    overflow: hidden;
    width: 220px;
    height: 375px;
    background: transparent;
    margin: -377px 0 0 351px;
}
.widescreen .cal-mini-month-panel table {
    width: 205px;
}

.extra-calendar .cal-header .pr10 {
    padding-right: 0;
}
.widescreen .extra-calendar .cal-header .pr10 {
    padding-right: 10px;
}
.widescreen .desc-input-div {
    width: 280px;
}
.widescreen .desc-input-div input {
    padding: 5px 5px;
    width: 265px;
    height: 16px;
    line-height: 16px;
}

.title-tabs .active,
.widescreen .extra-calendar .cal-header .cal-view-select-btn:hover,
.widescreen .extra-calendar .cal-header .active {
    border-bottom: 3px solid #424143;
}


.cal-date-marks-table li .delete-btn {
    color: #fff;
    display: inline-block;
    background: url(close.png) 0 0 no-repeat;
    height: 12px;
    line-height: 12px;
    width: 12px;
    position: absolute;
    overflow: hidden;
    top: 7px;
    right: 9px;
    color: transparent;
    text-decoration: none;
    text-align: center;
}
.cal-date-marks-table li .delete-btn:hover {
    background-position: 0 -12px;
}

.widescreen .cal-date-marks-table li .delete-btn{
    top: 9px;
}

.cal-date-marks-table li .add-btn{
    color: #424143;
}