/*************************************************************
** dark
*************************************************************/
body{ color: #e1e0e2; }
a{ color: #e1e0e2; }
a:hover{
	color: #d00316;
	text-decoration: none;
}
#container{
	background: #3f3a39 url(bg.jpg) top center no-repeat;
	background-size: cover;
}
.box{ color: #e1e0e2; }
.box .box-hd{ border-top: 1px solid #e1e0e2; }
.schedule li{ border-top: 1px solid #e1e0e2; }
.music dl dd li{ border-top: 1px solid #e1e0e2; }
.edit, .del{ background: url(sprite.png); }
.edit{ background-position: -6px -6px; }
.del{ background-position: -37px -6px; }