.extra-ted {
    img {
        display: block;
    }
    .ted-play-btn {
        position: relative;
        z-index: 1;
        display: block;
        background: url(../imgs/ted-play-btn.png) center no-repeat;
    }
}