/* .header */
.header {
    margin-top: 38px;
    width: 100%;
    height: 126px;
}
.header-inner {
    margin: 0 auto;
}
.logo {
    display: block;
    width: 195px;
    height: 45px;
    overflow: hidden;
    text-indent: -999px;
    position: absolute;
    top: 73px;
    margin-left: 30px;
}

/* .thl */
.thl{
    height: 60px;
    padding-top: 25px;
    position: absolute;
    margin-left: 360px;
    margin-top: 20px;
}
.thl .ctls{
    background: #fff;
    height: 34px;
    padding: 0 10px;
    .border-radius(3px);
}
.thl .ctls .ipt{
    background: #fff;
    border: 0 none;
    float: left;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    padding: 9px 0;
    width: 380px;
}
.thl .ctls .btn{
    background: url(../imgs/sprite.png) 1px -13px no-repeat;
    cursor: pointer;
    float: right;
    height: 23px;
    width: 23px;
    line-height: 999px;
    font-size: 0;
    overflow: hidden;
    border: 0 none;
    margin-top: 7px;
}
.thl .subcate{
    position: absolute;
    top: 3px;
    left: 30px;
    color: #fff;
}
.thl .cate{
    color: #fff;
    position: absolute;
    top: 34px;
    left: 70px;
}

.thl {
    a:hover{
        text-decoration: underline;
    }
    .cate{
         color: #fff;
        a, a:hover{
            color: #fff;
        }
        a.on, a.on:hover{
            color: #efb6db;
        }
    }
    .cate-in{
        color: #191919;
        a, a:hover{
            color: #191919;
        }
        a.on, a.on:hover{
            color: #9c63a4;
        }
    }
    .subcate{
        color: #fff;
        a, a:hover{
            color: #fff;
        }
        a.on, a.on:hover{
            color: #efb6db;
        }
    }
}

.header-weather {
    float: right;
    color: #fff;
    line-height: 110px;

    .degree {
        font-size: 42px;
        font-weight: 800;
        font-family: Arial;
    }
}

