@charset "utf-8";
.links123_calender{
    width: 100%;
    height: 100%;
    color: #3C3B3D;                                         /* 3C3B3D */
	font: normal normal 12px 'microsoft yahei';
}
.links123_calender .c_header{
    height: 60px;
    line-height: 56px;
    background: #E4D2D3;                                    /* E4D2D3 */
    position: relative;
    font-size: 16px;
    font-weight: bold;
}
.links123_calender .c_header a,
.links123_calender .c_header span{
    color: #84577D;                                         /* 84577D */
}
.links123_calender .c_header .c_chooser_date{
    position: absolute;
    left: 20px;
}
.links123_calender .c_header .c_chooser_date span{
    display: inline-block;
    margin: 0 20px;
}
.links123_calender .c_header .c_chooser_view{
    position: absolute;
    right: 20px;
}
.links123_calender .c_header .c_chooser_view a{
    font-size: 12px;
    font-family: "arial";
    font-weight: normal;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.links123_calender .c_header .c_chooser_view a.active,
.links123_calender .c_header .c_chooser_view a:hover{
    background: #84577D;                                     /* 84577D */
    color: #fff;                                             /* fff */
    text-decoration: none;
}
.links123_calender .c_body{
	height: 380px;
	position: relative;
	margin-top: 2px;
	display: none;
}
.links123_calender .burn_down_chart .relative_div{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1000;
}
.links123_calender .burn_down_chart .relative_div .clock{
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #fff;											/* fff */
	z-index: 1000;
	margin: 0;
}
/* START colors */
.fc-purple{
	color: #84577D;                                         /* 84577D */
}
.fc_white{
	color: #fff;                                         	/* fff */
}
.fc_black{
	color: #3C3B3D;                                         /* 3C3B3D */
}
.bg_purple_dark{
	background: #84577D;                                     /* 84577D */
}
.bg_purple_lighter{
	background: #906688;									/* 906688 */
}
.bg_purple_lightest{
	background: #ECDADF;									/* ECDADF */
}
/* END colors */
/* START day_view */
.links123_calender .day_view .left_side{
	position: absolute;
	width: 35%;
	height: 100%;
	left: 0;
	top: 0;
}
.links123_calender .day_view .right_side{
	margin-left: 35%;
	height: 100%;
	position: relative;
}
.links123_calender .day_view .c_inner{
	height: 100%;
	margin-right: 2px;
	background: #ECDADF;									/* ECDADF */
}
.links123_calender .day_view .left_side .small_calendar_wrap{
	height: 55%;
}
.links123_calender .day_view .left_side .small_task_list_wrap{
	padding-top: 2px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
	height: 45%;
}
.links123_calender .day_view .main_task_list_wrap{
	height: 100%;
	width: 100%;
	background: #ECDADF;									/* ECDADF */
}
.links123_calender .day_view .burn_down_chart{
	position: absolute;
	height: 50%;
	width: 100%;
	background: #906688;									/* 906688 */
	top: 0;
	left: 0;
	z-index: 200;
}
.links123_calender .day_view .small_calendar_wrap table{
	width: 100%;
	height: 100%;
	padding: 10%;
	font:normal normal 12px 'microsoft yahei';
	text-align: center;
	border-collapse: separate;
}
.links123_calender .day_view .small_calendar_wrap table th{
	color: #755779;                                         /* 755779 */
	padding: 0;
	margin: 0;
}
.links123_calender .day_view .small_calendar_wrap table td{
	padding: 0;
	margin: 0;
}
.links123_calender .day_view .small_calendar_wrap table td a{
	color: #3C3B3D;											/* 3C3B3D */
	text-decoration: none;
	display: block;
	width: 20px;
	margin: 0 auto;
	height: 20px;
	line-height: 20px;
	border-radius: 10px;
}
.links123_calender .day_view .small_calendar_wrap table td.not a{
	color: #888;												/* 888 */
}
.links123_calender .day_view .small_calendar_wrap table td.active a,
.links123_calender .day_view .small_calendar_wrap table td a:hover{
	background: #84577D;                                     /* 84577D */
	color: #fff;												/* fff */
}
.links123_calender .day_view .small_task_list_wrap h4,
.links123_calender .day_view .small_task_list_wrap ul{
	font-size: 14px;
	margin: 0;
	padding: 10px 0 0 20px;
}
.links123_calender .day_view .small_task_list_wrap h4{
	color: #84577D;                                         /* 84577D */
}
.links123_calender .day_view .small_task_list_wrap ul{
	padding-left: 40px;
}
.links123_calender .day_view .main_task_list_wrap .task_item{
	position: absolute;
	z-index: 300;
	color: #fff;											/* fff */
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	border-bottom: 1px dashed #C1A9BC;							/* C1A9BC */
}
.links123_calender .day_view .main_task_list_wrap .task_item.todo{
	color: #433F40;											/* 433F40 */
	top: 90%;
	border-bottom: 1px dashed #B89BAF;							/* B89BAF */
}
.links123_calender .day_view .main_task_list_wrap .task_item .drag_bar{
	display: inline-block;
	width: 14px;
	margin-right: 10px;
	background: #ccc;											/* color */
	cursor: move;
}
.links123_calender .day_view .main_task_list_wrap .task_item strong{
	margin-left: 0;
}
.links123_calender .day_view .main_task_list_wrap .task_item span:hover{
	background: #C07BB3;									/* Color */
}
.links123_calender .day_view .main_task_list_wrap .task_item input{
	padding: 0;
	margin: 0;
}
.links123_calender .day_view .right_side .relative_div .clock{
	right: 40px;
	bottom: 0;
	font-size: 26px;
}
.links123_calender .day_view .after .burn_down_chart,
.links123_calender .day_view .before .burn_down_chart{
	background: transparent;
}
.links123_calender .day_view .before .main_task_list_wrap{
	background: #906688;											/* 906688 */
}
.links123_calender .day_view .before .clock,
.links123_calender .day_view .after .clock{
	display: none;
}
/* END day_view */

.links123_calender .big_table table{
	width: 579px;
	height: 100%;
	color: #fff;									/* fff */
	text-align: center;
	margin: 0;
	padding: 0;
	position: relative;
	left: -2px;
	border-spacing: 2px;
	border-collapse: separate;
}
.links123_calender .big_table table th, td, thead, tbody{
	padding: 0;
	margin: 0;
}
.links123_calender .big_table table th{
	background: #CBA3B5;						/* CBA3B5 */
	height: 60px;
	width: 14.284%;
}
.links123_calender .big_table table td{
	background: #EED7D9;							/* EED7D9 */
	color: #3C3B3D;									/* 3C3B3D */
	position: relative;
}
.links123_calender .big_table table td > .relative_div{
	width: 100%;
	height: 100%;
	height: 110%\9;
	position: relative;
	bottom: 0;
}
.links123_calender .week_view .c_body,
.links123_calender .month_view .c_body{
	margin: 0;
}

/* START week_view */
.links123_calender .week_view td{
	height: 300px;
}
.links123_calender .week_view td .burn_down_chart{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: #906688;									/* 906688 */
	z-index: 100;
}
.links123_calender .week_view table.before td{
	background: #906688;
}
.links123_calender .week_view td .task_item{
	position: absolute;
	top: 0;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 200;
	color: #fff;											/* fff */
}
.links123_calender .week_view td .task_item.todo{
	color: #3C3B3D;
	top: 80%;
}
.links123_calender .week_view table td .relative_div .clock{
	position: absolute;
	text-align: left;
	z-index: 300;
	left: 10px;
	bottom: 5px;
	padding: 0;
}
/* END week_view */
/* START month_view */
.links123_calender .month_view td{
	height: 56px;
}
.links123_calender .month_view td a{
	position: absolute;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #3C3B3D;													/* 3C3B3D */
	top: 0;
	left: 0;
	line-height: 56px;
}
.links123_calender .month_view td .task_items{
	position: absolute;
	left: 0;
	top: 0;
	height: 12px;
	padding-top: 4px;
	padding-left: 6px;
}
.links123_calender .month_view td .task_items span{
	display: inline-block;
	height: 8px;
	width: 8px;
	line-height: 0;
	vertical-align: top;
	border-radius: 4px;
	font-size: 0;
}
.links123_calender .month_view td a:hover{
	color: #fff;													/* fff */
	background: #8D6285;											/* 8D6285 */
}
.links123_calender .month_view td.active,
.links123_calender .month_view td.passed,
.links123_calender .month_view td.passed a{
	background: #8D6285;											/* 8D6285 */
	color: #fff;													/* fff */
}
.links123_calender .month_view td.active a{
	background: #8D6285;											/* 8D6285 */
	color: #fff;													/* fff */
	font-weight: bold;
}
.links123_calender .month_view td.passed .task_items span,
.links123_calender .month_view td.active .task_items span{
	background-color: #fff;											/* fff */
}
.links123_calender .month_view td.not .task_items span{
	background-color: #888;											/* 888 */
}
/* END month_view */
/* START POPOVER */
.c_popover{
	position: absolute;
	font-size: 14px;
	display: none;
	z-index: 5000;
}
.c_popover ul{
	margin: 0;
	padding-left: 20px;
}
.c_popover .c_pop_content{
	background: #fff;							/* fff */
	border-radius: 3px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.c_popover .relative_div{
	position: relative;
	width: 100%;
	height: 14px;
}
.c_popover .c_pop_tangle{
	position: absolute;
	width: 0;
	height: 0;
	border-top: 14px solid #fff;
	border-right: 14px solid transparent;
	border-left: 14px solid transparent;
	left: 50%;
	top: 0;
	margin-left: -14px;
}
/* END POPOVER */