@charset "utf-8";
.links123_calender{
    width: 100%;
    color: #3C3B3D;                                         /* 3C3B3D */
}
.links123_calender .c_header{
    height: 60px;
    line-height: 56px;
    background: #E4D2D3;                                    /* E4D2D3 */
    position: relative;
    font-size: 16px;
    font-weight: bold;
    font-family: 'microsoft yahei';
}
.links123_calender .c_header a,
.links123_calender .c_header span{
    color: #502D5C;                                         /* 502D5C */
}
.links123_calender .c_header .c_chooser_date{
    position: absolute;
    left: 20px;
}
.links123_calender .c_header .c_chooser_view{
    position: absolute;
    right: 20px;
}
.links123_calender .c_header .c_chooser_view a{
    font-size: 13px;
    font-family: "arial";
    font-weight: normal;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 26px;
    line-height: 26px;
    text-align: center;
}
.links123_calender .c_header .c_chooser_view a:hover{
    background: #502D5C;                                     /* 502D5C */
    color: #fff;                                             /* fff */
    text-decoration: none;
}