@normal_width: 960px;
@wide_width: 1175px;

.widescreen {
    .top-nav-inner,
    .header-inner  {
        width: @wide_width;
    }
}

.normalscreen {
    .top-nav-inner,
    .header-inner {
        width: @normal_width;
    }
}