@normal_width: 960px;
@wide_width: 1175px;

.widescreen {
    .top-nav-inner,
    .header-inner,
    .container,
    .footer-links,
    .footer-nav  {
        width: @wide_width;
    }
    .thl {
        width: 430px;
    }

    .extra-double {
        .extra-music,
        .extra-movie,
        .extra-calendar,
        .extra-ted {
            width: 580px;
            background:#333;
        }

        .extra-music {
            height: 235px;
        }
        .extra-movie {
            margin-top: 15px;
            height: 425px;
        }
        .extra-calendar {
            margin-top: -675px;
            margin-left: 595px;
            height: 425px;
        }
        .extra-ted {
            margin-top: 15px;
            margin-left: 595px;
            height: 235px;
        }
    }
    .extra-triple {
        .extra-music,
        .extra-movie {
            background:#333;
            width: 315px;
        }

        .extra-calendar,
        .extra-ted {
            background:#333;
            width: 515px;
        }

        .extra-movie {
            margin-top: -610px;
            margin-left: 530px;
            height: 610px;
        }
        .extra-music {
            margin-left: 860px;
            height: 610px;
        }

        .extra-calendar {
            margin-top: -610px;
            height: 380px
        }

        .extra-ted {
            margin-top: 15px;
            height: 215px;
        }
    }
}

.normalscreen {
    .top-nav-inner,
    .header-inner,
    .container,
    .footer-links,
    .footer-nav {
        width: @normal_width;
    }
}