@url: "theme-purple";


.user-dialog {
    background: url(../imgs/purple_80.png) 0 0 repeat;
    .close-btn {
        background-image: url("../imgs/@{url}/user-dialog.png");
    }
}

.top-nav {
    background: url(../imgs/black_70.png) 0 0 repeat;

    .uc-menu ul li a:hover{
        background: #502d5c;
    }
}
.header, .footer {
    background: url(../imgs/purple_20.png) 0 0 repeat;
}

.nav li a:hover {
    color: #edb4d9;
}

.logo {
    background: url("../imgs/@{url}/logo.png") 0 0 no-repeat;
}

.thl .ctls,
.thl .ctls .ipt {
    background: #ddced4;
}

.movie-info {
    h5 {
        color: #502d5c;
    }
    li a {
        color: #fff;
        background: #502d5c;
    }
}

.music-info {
    h5, .singer {
        color: #502d5c;
    }
}

.music-slide-btns li {
    background-image: url("../imgs/@{url}/slide-btns.png");
}

.rateit .rateit-range,
.rateit .rateit-hover,
.rateit .rateit-hover-rtl,
.rateit .rateit-selected,
.rateit .rateit-selected-rtl,
.rateit .rateit-preset,
.rateit .rateit-preset-rtl{
    background-image: url("../imgs/@{url}/star.png");
}

.extra-triple {
    .movie-slide-btns {
        li {
            background-image: url("../imgs/@{url}/slide-btns.png");
        }
    }
}

body {
    background-image:url("../imgs/@{url}/bg-small.jpg");
}


.zld-dialog {

    .radio-li{
        em {
            background-image: url("../imgs/@{url}/user-dialog.png");
        }
    }
    li {

        .lkd-add {
            i {
                background-image: url("../imgs/@{url}/user-dialog.png");
            }
        }
    }
}




