@url: "theme-purple";


.user-dialog {
    background: url(../imgs/purple_80.png) 0 0 repeat;
    .close-btn {
        background-image: url("../imgs/@{url}/user-dialog.png");
    }
    .bigavatar-img {
        border-color: #db5f60;
        border-style: solid;
        border-width: 3px;
    }
}

.top-nav {
    background: url(../imgs/black_70.png) 0 0 repeat;

    .uc-menu ul li a:hover{
        background: #502d5c;
    }
}
.header, .footer {
    background: url(../imgs/purple_20.png) 0 0 repeat;
}

.nav li a:hover {
    color: #edb4d9;
}

.logo {
    background: url("../imgs/@{url}/logo.png") 0 0 no-repeat;
}

.thl .ctls,
.thl .ctls .ipt {
    background: #ddced4;
}

.movie-info {
    h5 {
        color: #502d5c;
    }
    li a {
        color: #fff;
        background: #502d5c;
    }
}

.music-info {
    h5, .singer {
        color: #502d5c;
    }
}

.music-slide-btns li {
    background-image: url("../imgs/@{url}/slide-btns.png");
}

.rateit .rateit-range,
.rateit .rateit-hover,
.rateit .rateit-hover-rtl,
.rateit .rateit-selected,
.rateit .rateit-selected-rtl,
.rateit .rateit-preset,
.rateit .rateit-preset-rtl{
    background-image: url("../imgs/@{url}/star.png");
}

.extra-triple {
    .movie-slide-btns {
        li {
            background-image: url("../imgs/@{url}/slide-btns.png");
        }
    }
}

body {
    background-image:url("../imgs/@{url}/bg-small.jpg");
}


.zld-dialog {

    .radio-li{
        em {
            background-image: url("../imgs/@{url}/user-dialog.png");
        }
    }
    li {

        .lkd-add {
            i {
                background-image: url("../imgs/@{url}/user-dialog.png");
            }
        }
    }
}



@double_1175_width: 578px;
@font_purple: #502d5c;
@font_black: #191919;
@back_purple: #82557b;

.extra-calendar {
    .cal-header {
        width: @double_1175_width;
        background: url(../imgs/white_60.png) repeat;
        .cal-header-date-prev {
            float:right;
            background: url(../imgs/theme-purple/cal-prev.png) 0 0 no-repeat;
        }
        .cal-header-date-next {
            float:left;
            background: url(../imgs/theme-purple/cal-next.png) 0 0 no-repeat;
        }
        .cal-header-date-prev,
        .cal-header-date-next,
        .cal-header-date {
            color: @font_purple;
        }
        button {
            color: @font_purple;
            background-color: transparent;
        }
        .active {
            color: #fff;
            background: @back_purple;
        }
    }
    .cal-day {
        .cal-mini-month-panel {
            background: url(../imgs/white_60.png) repeat;
            td, th {
                a {
                    color: @font_purple;
                }

                .active {
                    background: @back_purple;
                    color:#fff;
                }
            }
        }
        .cal-day-note-list {
            background: url(../imgs/white_60.png) repeat;
            line-height: 200%;
            h6 {
                color: @font_purple;
            }
        }
        .cal-day-burn-down-chart {
            background: url(../imgs/white_60.png) repeat;

            .chart {
                background: @back_purple;

                .time-show {
                    color: #fff;
                }
            }

            .cal-day-event-item {
                border-bottom: 1px dashed @font_purple;
                .dot {
                    background: @font_purple;
                }
                .enter {
                    color: @font_purple;
                }
                .del {
                    color: @font_purple;
                }
            }
            .cal-day-event-item-pass {
                color: #fff;
                border-bottom: 1px dashed #fff;
                .dot {
                    background: #fff;
                }
                .enter {
                    color: #fff;
                }
                .del {
                    color: #fff;
                }
            }
        }
    }
    .cal-month, .cal-week {
        table {
            a,
            a:active,
            a:hover{
                color: @font_purple;
            }
            td {
                background: url(../imgs/white_60.png) 0 0 repeat;
                .month_task_dot {
                    background: @back_purple;
                }

                .week-mark-line {
                    b {
                        background: @back_purple;
                    }

                    span {
                        border-bottom: 1px dashed @font_purple;
                    }
                }

                .week-mark-line-pass {
                    b {
                        background: #fff;
                    }
                    span {
                        border-bottom: 1px dashed #fff;
                    }
                }

                .chart {
                    background: @back_purple;

                    .time-show {
                        color: #fff;
                    }
                }

            }

            th {
                color: #fff;
                background: url(../imgs/white_20.png) 0 0 repeat;
            }

        }
        .month_pass_date {
            color: #fff;
            background: @back_purple;
            .month_task_dot {
                background-color: #fff;
            }
            a,
            a:active,
            a:hover {
                color:#fff;
            }

            .week-mark-line {

                b {
                    background: #fff;
                }

                span {
                    border-color: #fff;
                }
            }
        }
    }
}

