/* .top-nav */
.top-nav {
    width: 100%;
    height: 38px;
    background: url(../imgs/top-nav-back.png) 0 0 repeat;
    position: fixed;
    top:0;
}
.top-nav-inner {
    height: 38px;
    margin: 0 auto;
}


/* .zdl */
.zdl {
    .border-radius(4px);
    width: 264px;
    height: 23px;
    margin-top: 7px;
    line-height: 23px;
    background: #fff;
    float: left;
}
.zdl input {
    border: 0;
}
.zdl .ipt {
    float: left;
    padding: 2px 5px;
    margin-top: 2px;
    width: 240px;
}
.zdl .ipton{
    color: #999;
}
.zdl .btn {
    float: right;
    width: 7px;
    height: 12px;
    margin: 5px 5px 0 0;
    line-height: 999px;
    cursor: pointer;
    background: url(../imgs/sprite.png) -1px -1px no-repeat;
}

.nav {
    float: left;
    margin-left: 30px;
}
.nav li {
    float: left;
}
.nav li a {
    padding: 0 17px;
}
.nav li a {
    display: block;
    color: #c9c9c9;
    height: 38px;
    line-height: 38px;
}
.nav li a:hover{
    color: #edb4d9;
}

.uc{
    float: right;
}

.uc-avatar {
    width: 26px;
    height: 26px;
    float:left;
    top: 5px;
    margin-left: -35px;
    position: absolute;
}

.uc-menu{
    color: #fff;
    height: 23px;
    padding-top: 7px;
}
.uc-menu .nm{
    background: #fff;
    color: #727171;
    cursor: pointer;
    padding: 0 10px 0 15px;
    float: left;
    width: 149px;
    position: relative;
    height: 23px;
    line-height: 23px;
    white-space: nowrap;
    .border-radius(5px);
}
.uc-menu .nm em{
    display: block;
    position: absolute;
    top: 6px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: url(../imgs/sprite.png) -10px -2px no-repeat;
}
.uc-menu .nm:hover{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.uc-menu .nm:hover ul{
    display: block;
}
.uc-menu ul{
    background: #fff;
    display: none;
    position: absolute;
    z-index: 2000;
    right: 0;
    top: 23px;
    width: 174px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.uc-menu ul li{
    padding: 0;
    margin: 0;
    line-height: 18px;
}
.uc-menu ul li a{
    color: #727171;
    display: block;
    width: 159px;
    height: 20px;
    padding: 3px 0 3px 15px;
    line-height: 20px;
}
.uc-menu ul li a:hover{
    background: #218b3a;
    color: #fff;
}
.uc-menu ul li.logout a{
    background: #dcdcdd;
    color: #727171;
    padding: 4px 0 4px 15px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.uc-menu ul li.logout a:hover{
    background: #717071;
    color: #fff;
}

