.container {
    margin: 0 auto;
}

.zld {
    margin-top: 20px;
    overflow: hidden;
}

.zld ul{
    font-size: 12px;
    *zoom: 1;
} 
.zld ul li{
    color: #fff;
    display: inline-block;
    float: left;
    height: 45px;
    line-height: 45px;
    margin: 6px 4px 0 0;
    padding: 0 30px;
    white-space: nowrap;
    position: relative;
    vertical-align: middle;
    background: url(../imgs/white_20.png) 0 0 repeat;
}

.zld .add{
    margin: 13px 0 0 13px;
    display: block;
    width: 31px;
    height: 31px;
    cursor: pointer;
    color: transparent;
    background: url(../imgs/sprite.png) -23px -1px no-repeat;
}

.zld .add .mini-tip{
    display: none;
    width: 120px;
    top: -5px;
    left: 22px;
}

.zld .add:hover .mini-tip{
    display: block;
}