
.cal_v303 {
	width: 410px;
	height: 210px;
	border-top: 1px solid #e1e0e2;
}
.cal_v303_head {
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #aaa;

}
.cal_v303_show_date_box a,
.cal_v303_show_date_box span {
	display: inline-block;
	float: left;
}

.cal_v303_prev_btn {
	width: 15px;
	height: 38px;
	background: url(../imgs/cal-arrow.png) 0 11px no-repeat;
}
.cal_v303_next_btn {
	width: 15px;
	height: 38px;
	background: url(../imgs/cal-arrow.png) -15px 11px no-repeat;
}
.cal_v303_show_date {
	margin: auto 45px;
}

.cal_v303_show_date_box {
	float: left;
}
.cal_show_pop_btns_box {
	float: right;
}
.cal_show_pop_btn {
	margin: auto 0 auto 10px;
}
.cal_v303_mini_cal {
    float: left;
    width: 150px;
    height: 150px;
    margin-top: 10px;
}
.cal_v303_mini_cal th,
.cal_v303_mini_cal td {
    text-align: center;
    font-weight: 100;
}
.cal_v303_mini_cal a,
.cal_v303_mini_cal a:active,
.cal_v303_mini_cal a:hover {
    color: #fff;
    font-size: 11px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.cal_v303_mini_cal .active {
    background: #4a9a71;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.cal_v303_mark_list_wrap {
    width: 239px;
    height: 150px;
    float: left;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-left: 1px solid #aaa;
}
.cal_v303_mark_list_wrap ul {
    overflow: hidden;
    height: 120px;
}
.cal_v303_mark_list_wrap li {
    overflow: hidden;
    height: 29px;
    line-height: 29px;
    border-bottom: 1px solid #aaa;
}
.cal_v303_mark_list_wrap li b {
    display: inline-block;
    background: #fff;
    width: 4px;
    height: 4px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    margin-right: 10px;
    top: -2px;
}
.cal_v303_mark_list_wrap li span {
    color: #fff;
}
.cal_v303_mark_list_wrap li a {
    float: right;
}
.cal_v303_mark_bottom_btns {
	width: 239px;
    height: 30px;
    line-height: 30px;
}
.cal_v303_more {
    display: inline-block;
    float: left;
}
.cal_v303_new_mark {
    display: inline-block;
    float:right;
}
.cal_v303_new_mark b {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #4a9a71;
    line-height: 14px;
    text-align: center;
    margin-right: 5px;
    margin-top: 6px;
    font-weight: 700;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    float: left;
}
.cal_v303_new_mark span {
    float: left;
}
.cal_v303_time_span {
    margin-right:10px;
}


.extra-calendar {
    position: absolute;
    z-index: 99;
    left: 50%;
    margin-left: -289px;
    margin-top: -50px;
    display: none;
}

.extra-calendar-overlayer {
    display: none;
    position: absolute;
    z-index: 90;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#000;
    filter:alpha(opacity=50);
    -moz-opacity:.5;
    -khtml-opacity:.5;
    opacity:.5
}

.extra-calendar .calendar-tip {
    display:none;
    width:150px;
    padding:5px;
    position:absolute;
    background:#fff;
    box-shadow:0 0 5px #666;
    bottom:85%;
    left:50%;
    margin-left:-80px;
    color:#82c7a2;
    z-index:20;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px
}
.extra-calendar .calendar-tip .ang {
    width:0;
    height:0;
    font-size:0;
    overflow:hidden;
    position:absolute;
    border-width:15px;
    border-style:solid dashed dashed;
    border-color:#fff transparent transparent;
    left:65px;
    bottom:-25px
}
.extra-calendar .cal-ajax-overlayer {
    position:absolute;
    top:0;
    bottom:0;
    width:100%
}
.extra-calendar .cal-ajax-overlayer .layer {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    background:transparent;
    filter:alpha(opacity=30);
    -moz-opacity:.3;
    -khtml-opacity:.3;
    opacity:.3
}
.extra-calendar .cal-ajax-overlayer .content {
    position:absolute;
    z-index:10;
    color:#fff;
    width:100%;
    text-align:center;
    top:50%
}
.extra-calendar .cal-header {
    width:578px;
    height:60px;
    background: #fff;
}
.extra-calendar .cal-header .tc {
    text-align:center
}
.extra-calendar .cal-header .tr {
    text-align:right
}
.extra-calendar .cal-header .pr20 {
    padding-right:20px
}
.extra-calendar .cal-header td {
    height:60px;
    line-height:60px
}
.extra-calendar .cal-header .cal-header-date-prev,
.extra-calendar .cal-header .cal-header-date-next {
    width:30px;
    height:30px;
    display:block
}
.extra-calendar .cal-header .cal-header-date-prev {
    float:right;
    background:url(../imgs/sprite.png) -180px -30px no-repeat
}
.extra-calendar .cal-header .cal-header-date-next {
    float:left;
    background:url(../imgs/sprite.png) -210px -30px no-repeat
}
.extra-calendar .cal-header .cal-header-date-prev,
.extra-calendar .cal-header .cal-header-date-next,
.extra-calendar .cal-header .cal-header-date {
    font-size:16px;
    font-weight:800;
    color: #82c7a2;
}
.extra-calendar .cal-header button {
    cursor:pointer;
    color:#82c7a2;
    border:0;
    background-color:transparent
}
.extra-calendar .cal-header .cal-view-select-btn {
    display:inline-block;
    width:28px;
    height:28px
}
.extra-calendar .cal-header .active {
    color:#fff;
    background:#82c7a2;
    border-radius:28px;
    -moz-border-radius:28px;
    -webkit-border-radius:28px
}
.extra-calendar .cal-body {
    width:578px;
    height:363px;
    margin-top:2px
}
.extra-calendar .cal-day {
    width:578px;
    height:363px
}
.extra-calendar .cal-day-ul {
    color: #333;
}
.extra-calendar .cal-day .cal-mini-month-panel {
    overflow:hidden;
    width:220px;
    height:190px;
    background:#fff;
}
.extra-calendar .cal-day .cal-mini-month-panel table {
    margin-left:10px;
    margin-top:10px;
    color:#333;
}
.extra-calendar .cal-day .cal-mini-month-panel td,
.extra-calendar .cal-day .cal-mini-month-panel th {
    text-align:center;
    width:28px;
    height:25px
}
.extra-calendar .cal-day .cal-mini-month-panel td a,
.extra-calendar .cal-day .cal-mini-month-panel th a {
    color:#333;
    text-align:center;
    display:inline-block;
    width:20px;
    height:20px;
    line-height:20px
}
.extra-calendar .cal-day .cal-mini-month-panel td .active,
.extra-calendar .cal-day .cal-mini-month-panel th .active {
    background:#82c7a2;
    color:#fff;
    border-radius:27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px
}
.extra-calendar .cal-day .cal-day-note-list {
    width:190px;
    height:151px;
    margin-top:2px;
    padding:10px 15px;
    background:#fff;
    line-height:200%
}
.extra-calendar .cal-day .cal-day-note-list h6 {
    color:#333;
}
.extra-calendar .cal-day .cal-day-note-list ul {
    padding-left:15px;
    list-style:disc
}
.extra-calendar .cal-day .cal-day-burn-down-chart {
    width:356px;
    height:363px;
    margin:-363px 0 0 222px;
    background:#fff;
    overflow:hidden;
    position:relative
}
.extra-calendar .cal-day .cal-day-burn-down-chart .chart-body {
    width:356px;
    height:309px;
    position:absolute;
    bottom:15px
}
.extra-calendar .cal-day .cal-day-burn-down-chart .chart {
    width:356px;
    height:39px;
    position:absolute;
    top:0;
    background:#82c7a2
}
.extra-calendar .cal-day .cal-day-burn-down-chart .chart .time-show {
    color:#fff;
    font-size:18px;
    font-weight:100;
    position:absolute;
    right:5px;
    bottom:2px
}
.extra-calendar .cal-day .cal-day-burn-down-chart .cal-day-event-item {
    cursor:move;
    color:#333;
    position:absolute;
    width:346px;
    padding:0 5px;
    height:20px;
    line-height:20px;
    border-bottom:1px dashed #502d5c
}
.extra-calendar .cal-day .cal-day-burn-down-chart .cal-day-event-item .dot {
    display:inline-block;
    width:4px;
    height:4px;
    background:#82c7a2;
    position:relative;
    top:-2px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px
}
.extra-calendar .cal-day .cal-day-burn-down-chart .cal-day-event-item .time {
    margin-left:5px
}
.extra-calendar .cal-day .cal-day-burn-down-chart .cal-day-event-item .desc {
    margin-left:10px;
    margin-right:10px
}
.extra-calendar .cal-day .cal-day-burn-down-chart .cal-day-event-item .enter {
    display:none;
    color:#502d5c
}
.extra-calendar .cal-day .cal-day-burn-down-chart .cal-day-event-item .del {
    color:#502d5c;
    float:right;
    display:none
}
.extra-calendar .cal-day .cal-day-burn-down-chart .cal-day-event-item:hover .del {
    display:inline
}
.extra-calendar .cal-day .cal-day-burn-down-chart .cal-day-event-item-pass {
    color:#fff;
    border-bottom:1px dashed #fff
}
.extra-calendar .cal-day .cal-day-burn-down-chart .cal-day-event-item-pass .dot {
    background:#fff
}
.extra-calendar .cal-day .cal-day-burn-down-chart .cal-day-event-item-pass .enter {
    color:#fff
}
.extra-calendar .cal-day .cal-day-burn-down-chart .cal-day-event-item-pass .del {
    color:#fff
}
.extra-calendar .cal-month,.extra-calendar .cal-week {
    height:363px
}
.extra-calendar .cal-month table,
.extra-calendar .cal-week table {
    border-spacing:2px;
    border-collapse:separate;
    text-align:center;
    width:100%;
    height:100%;
    *height: auto;
    *text-align: left;
}

.extra-calendar .cal-month table a,
.extra-calendar .cal-week table a,
.extra-calendar .cal-month table a:active,
.extra-calendar .cal-week table a:active,
.extra-calendar .cal-month table a:hover,
.extra-calendar .cal-week table a:hover {
    color:#502d5c
}

.extra-calendar .cal-month table td,
.extra-calendar .cal-week table td {
    background:#fff;
    color:#333;
    position:relative;
}

.extra-calendar .cal-week table td {
	*height:293px;
}
.extra-calendar .cal-month table td {
	*height: 57px;
}

.extra-calendar .cal-month table td .month_task_dot,
.extra-calendar .cal-week table td .month_task_dot {
    display:inline-block;
    width:5px;
    height:5px;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background:#82c7a2;
    position:absolute
}
.extra-calendar .cal-month table td .week-mark-line,
.extra-calendar .cal-week table td .week-mark-line {
    position:absolute;
    width:100%
}
.extra-calendar .cal-month table td .week-mark-line b,
.extra-calendar .cal-week table td .week-mark-line b {
    display:inline-block;
    width:6px;
    height:6px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    background:#82c7a2
}
.extra-calendar .cal-month table td .week-mark-line span,
.extra-calendar .cal-week table td .week-mark-line span {
    display:inline-block;
    width:70%;
    margin-left:5px;
    border-bottom:1px dashed #82c7a2
}
.extra-calendar .cal-month table td .week-mark-line-pass,
.extra-calendar .cal-week table td .week-mark-line-pass {
    z-index:2
}
.extra-calendar .cal-month table td .week-mark-line-pass b,
.extra-calendar .cal-week table td .week-mark-line-pass b {
    background:#fff
}
.extra-calendar .cal-month table td .week-mark-line-pass span,
.extra-calendar .cal-week table td .week-mark-line-pass span {
    border-bottom:1px dashed #fff
}
.extra-calendar .cal-month table td .chart,
.extra-calendar .cal-week table td .chart {
    width:100%;
    height:3px;
    position:absolute;
    top:0;
    background:#82c7a2
}
.extra-calendar .cal-month table td .chart .time-show,
.extra-calendar .cal-week table td .chart .time-show {
    color:#fff;
    font-size:12px;
    font-weight:100;
    position:absolute;
    left:5px;
    bottom:2px
}
.extra-calendar .cal-month table th,
.extra-calendar .cal-week table th {
    padding:1px;
    color:#82c7a2;
    height:60px;
    overflow:hidden;
    background:#fff
}
.extra-calendar .cal-month .month_pass_date,
.extra-calendar .cal-week .month_pass_date {
    color:#fff;
    background:#82c7a2;
}
.extra-calendar .cal-month .month_pass_date .month_task_dot,
.extra-calendar .cal-week .month_pass_date .month_task_dot {
    background-color:#fff
}
.extra-calendar .cal-month .month_pass_date a,
.extra-calendar .cal-week .month_pass_date a,
.extra-calendar .cal-month .month_pass_date a:active,
.extra-calendar .cal-week .month_pass_date a:active,
.extra-calendar .cal-month .month_pass_date a:hover,
.extra-calendar .cal-week .month_pass_date a:hover {
    color:#fff
}
.extra-calendar .cal-month .month_pass_date .week-mark-line b,
.extra-calendar .cal-week .month_pass_date .week-mark-line b {
    background:#fff
}
.extra-calendar .cal-month .month_pass_date .week-mark-line span,
.extra-calendar .cal-week .month_pass_date .week-mark-line span {
    border-color:#fff
}

.widescreen .cal_v303 {
    width: 500px;
    height: 270px;
}
.widescreen .cal_v303_mark_list_wrap,
.widescreen .cal_v303_mark_bottom_btns {
    width: 329px;
    height: 200px;
}
.widescreen .cal_v303_mark_list_wrap ul {
    height: 160px;
}
.widescreen .cal_v303_mark_list_wrap li {
    height: 39px;
    line-height: 40px;
}
.widescreen .cal_v303_mark_bottom_btns {
    height: 40px;
    line-height: 40px;
    display: inline-block;
}
.widescreen .cal_v303_new_mark b {
    margin-top: 11px;
}