body{
	font-family: \5FAE\8F6F\96C5\9ED1,Hiragino Sans GB,Hiragino Sans GB W3;
	font-size: 12px;
}
input:focus{ outline: 0; }
.placeholder{ color: #ccc; }
.dropdown{
	display: none;
	position: absolute;
	top: 27px;
	right: -1px;
	z-index: 9996;
	width: 110px;
	margin: 0;
	background: #fff;
	border: 1px solid #e5e5e5;
}
.header{
	background: #2e2a28;
	height: 40px;
	position: fixed;
	z-index: 999;
}
.footer{
	background: #2e2a28;
	color: #bbbaba;
	height: 46px;
	line-height: 46px;
	bottom: 0;
	left: 0;
	width: 100%;
}
.footer a,
.footer a:hover{
	color: #bbbaba;
}
.footer img{
	vertical-align: middle;
}
.container{
	position: relative;
	padding-top: 40px;
} /* TODO skins */


/*wrap*/
.header-inner,
.container-inner,
.footer-inner{
	margin: 0 auto;
}
.ci-hd{
	padding-top: 35px;
	height: 115px;
	position: relative;
}
.ci-bd{
	padding-top: 10px;
}
/*zdl*/
.zdl{
	float: left;
	padding-top: 7px;
	width: 330px;
	position: relative;
}
.zdl .ipt{
	border: 0 none;
	font-size: 13px;
	height: 17px;
	line-height: 17px;
	padding: 4px 10px;
	vertical-align: text-bottom;
	width: 280px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.zdl .ipton{ color: #999; }
.zdl .btn{
	background: url(../imgs/sprite.png) -93px -34px;
	background-color: #fff;
	border: 0 none;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 20px;
	line-height: -999px;
	overflow: hidden;
	width: 20px;
	position: absolute;
	top: 9px;
	left: 274px;
}
/*nav*/
.nav{ float: left; border-left:1px solid #201c1b;border-right:1px solid #413c3a;}
.nav li{ float: left; border-left:1px solid #413c3a;border-right:1px solid #201c1b;}
.nav li a{
	display: block;
	color: #bbbaba;
	height: 40px;
	line-height: 40px;
}
.nav li a:hover,
.nav li.on a{
	color: #fc2a06;
}
/*uc*/
.uc{
	float: right;
}
.login,
.join{
	display: block;
	float: left;
	height: 28px;
	line-height: 28px;
	margin: 6px 0 0 5px;
	width: 78px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.join{
	background: #238b3a;
	color: #fff;
}
.join:hover{
	background: #60ad6b;
	color: #fff;
}
.login{
	background: #fff;
	color: #666;
}
.login:hover{
	background: #dcdcdd;
	color: #666;
}
/*logo*/
.logo{
	background: url(../imgs/logo.png) 0 0 no-repeat;
	position: absolute;
	left: 0;
	top: 50px;
	height: 55px;
	overflow: hidden;
	text-indent: -999px;
	width: 264px;
}
/*uc-menu*/
.uc-menu .nm em {
	display:block;
	position:absolute;
	top: 0;
	right:8px;
	width: 25px;
	height: 25px;
	background:url(../imgs/sprite.png) -92px -62px no-repeat
}
.uc-menu .nm ul i {
	display: inline-block;
	margin: 0 5px 0 5px;
	float: left;
	width: 30px;
	height: 30px;
	background: url(../imgs/sprite.png) 0 0 no-repeat;
}
.uc {
	float:right;
	width:170px
}
.uc-avatar {
	width:25px;
	height:25px;
	float:left;
	top:7px;
	margin-left:-35px;
	position:absolute;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px
}
.uc-menu {
	color:#fff;
	height:23px;
	padding-top:7px
}
.uc-menu .nm {
	background:#fff;
	color:#727171;
	cursor:pointer;
	padding:0 10px 0 15px;
	float:left;
	width:149px;
	position:relative;
	height:23px;
	line-height:23px;
	white-space:nowrap;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
}
.uc-menu .nm:hover ul {
	/*display:block*/
}
.uc-menu ul {
	background:#fff;
	display:none;
	position:absolute;
	z-index:2000;
	right:0;
	top:38px;
	width:174px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}
.uc-menu ul li {
	padding:0;
	margin:0;
	line-height:18px
}
.uc-menu ul li a {
	color:#727171;
	display:block;
	width:174px;
	height:30px;
	line-height:30px
}
.uc-menu ul li a:hover {
	background:#4daf7b;
	color:#fff
}
.uc-menu ul li.logout a {
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px
}
.uc-menu ul li.person a {
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}

.uc-menu .nm .ang {
	display: none;
	width: 0;
	height: 0;
	font-size: 0;
	overflow: hidden;
	position: absolute;
	border-width: 10px;
	top: 20px;
	right: 10px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #fff;
}
.uc-menu .nm ul .person-icon {
	background-position: -120px -60px;
}
.uc-menu .nm ul .private-icon {
	background-position: -150px -60px;
}
.uc-menu .nm ul .safe-icon {
	background-position: -180px -60px;
}
.uc-menu .nm ul .logout-icon {
	background-position: -210px -60px;
}
.uc-menu .nm ul a:hover .person-icon {
	background-position: -120px -90px;
}
.uc-menu .nm ul a:hover .private-icon {
	background-position: -150px -90px;
}
.uc-menu .nm ul a:hover .safe-icon {
	background-position: -180px -90px;
}
.uc-menu .nm ul a:hover .logout-icon {
	background-position: -210px -90px;
}

/*theme*/
.screen-theme .theme-purple-btn {
	background:url(../imgs/sprite.png) -244px -34px no-repeat;
}

/* thl */
.thl{
	height: 60px;
	padding-top: 25px;
	position: relative;
}
.thl .ctls{
	background: #fff;
	height: 34px;
	padding: 0 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.thl .ctls .ipt{
	background: #fff;
	border: 0 none;
	float: left;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	padding: 9px 0;
	width: 415px;
	width: 360px;
}
.thl .ctls .btn{
	background: url(../imgs/sprite.png) -5px 2px no-repeat;
	cursor: pointer;
	float: right;
	height: 34px;
	width: 20px;
	line-height: 999px;
	font-size: 0;
	overflow: hidden;
	border: 0 none;
}
.thl .subcate{
	position: absolute;
	top: 3px;
	left: 52px;
	left: 30px;
}
.thl .cate{
	position: absolute;
	top: 34px;
	left: 86px;
	left: 45px;
}
.thl .subcate a:hover{
	color: #fc2a06;
	text-decoration: underline;
}
.thl .cate a:hover{
	color: #fc2a06;
	text-decoration: underline;
}
.thl .cate-in{ color: #727171; }
.thl .cate-in a{
	color: #727171;
}
.thl .cate-in a:hover{
	color: #fc2a06;
}
.thl .cate a.on,
.thl .cate a.on:hover{
	color: #fc2a06;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.thl .subcate a.on,
.thl .subcate a.on:hover{
	color: #fc2a06;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

/*zld*/
.zld{}
.zld ul{
	font-size: 12px;
	*zoom: 1;
} 
.zld ul:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.zld ul li{
	display: inline-block;
	float: left;
	height: 34px;
	line-height: 34px;
	margin: 5px 5px 0 0;
	white-space: nowrap;
	position: relative;
	vertical-align: middle;
}
.zld ul li .mask{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}
.zld ul li .nm{
	cursor: pointer;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 8px 10px 8px 20px;
	position: relative;
	vertical-align: top;
}
.zld ul li .nm:hover{
	color: #fc2a06;
	cursor: pointer;
}

.zld ul li b{
	font-weight: normal;
}
.zld ul li .ctl{
	background: url(../imgs/sprite.png) -59px 2px no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 34px;
	position: relative;
	vertical-align: top;
	width: 34px;
}
.zld ul li .ctl:hover{
	background-position: -59px -28px;
}
.zld ul li.add .ctl{
	background: url(../imgs/sprite.png) -29px 3px no-repeat;
	cursor: pointer;
	/*text-indent: -999px; 360兼容模式出bug */
	color: transparent;
	overflow: hidden;
}
.zld ul li.add .ctl:hover{
	background-position: -29px -27px;
}
/*box*/
.edit,
.del,
.close,
.new{
	display: block;
	cursor: pointer;
	height: 18px;
	text-indent: -999px;
	overflow: hidden;
	width: 18px;
	float: right;
	margin-left: 5px;
}
.edit{} /* TODO skins */
.del{} /* TODO skins */
.new{}  /* TODO skins */
.close{
	background: url(../imgs/sprite.png) -125px -6px no-repeat;
}
.close:focus{ outline: 0; }
.close:hover{
	background-position: -125px -36px;
}
.box{} /* TODO skins */
.box h2{
	font-size: 14px;
}
.box .box-hd{
	padding-top: 10px;
}
.box-apps .box-bd,
.box-music .box-bd,
.box-pics .box-bd,
.box-find .box-bd{
	padding-top: 20px;
}
.box-apps,
.box-find{
	margin-top: 26px;
}
/*apps*/
.apps{
	overflow: hidden;
}
.apps ul{
	*zoom: 1;
	margin-left: -26px;
}
.apps ul:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.apps ul li{
	cursor: pointer;
	display: inline;
	margin-left: 26px;
	float: left;
	width: 72px;
	height: 100px;
	text-align: center;
}
.apps ul li:hover,
.apps ul li:hover a,
.apps ul li:hover a:hover{
	color: #fc2a06;
}
.apps ul li img{
	vertical-align: middle;
}
.apps ul li .av,
.apps ul li .ct{
	margin-bottom: 7px;
}
.apps ul li.today{
	background: url(../imgs/app/app-date.png) 0 0 no-repeat;
}
.apps ul li.today .ct{
	height: 72px;
	width: 72px;
}
.apps ul li.today b{
	color: #000;
	font-size: 12px;
	padding-top: 10px;
}
.apps ul li.today i{
	color: #cb2d40;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-family: arial;
	margin-top: -5px;
}
.apps ul li.today b,
.apps ul li.today i{
	display: block;
	text-align: center;
}
/*footer*/
.subnav{

}
.subnav ul{
	float: left;
}
.subnav ul li{
	display: inline;
	float: left;
	padding-right: 15px;
}
.copyright{
	float: right;
}

/*extra*/
.extra{
	*zoom: 1;
	margin-top: 45px;
	padding-bottom: 110px;
}
.extra:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
.extra .extra-col1,
.extra .extra-col2,
.extra .extra-col3{
	display: inline;
	float: left;
}
.extra .extra-col1{}
.extra .extra-col2{}
.extra .extra-col3{}
/*music*/
.music{
	*zoom: 1;
}
.music:after{
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}
/*TODO MUSIC*/

/*pics*/
.pics{
	text-align: center;
	overflow: hidden;
}
.pics img{
	vertical-align: middle;
	width: 306px;
	height: 442px;
}
.pics .items{
	height: 462px;
}
.pics .items li{    
	overflow: hidden;
	float: left;
}
.pics .pg{
	height: 5px;
	position: absolute;
	left: 50%;
	margin-left: -52px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
}
.pics .pg li{
	cursor: pointer;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	float: left;
	height: 5px;
	margin: 0 5px;
	overflow: hidden;
	text-indent: -999px;
	vertical-align: middle;
	width: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}
.pics .pg li.current{
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.pics .items li .mask{
	background: #fff;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	filter:alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.pics .items li .info{
	color: #fff;
	display: none;
	left: 0;
	position: absolute;
	text-align: left;
	top: 0;
}
.pics .items li.hover .mask,
.pics .items li.hover .info{
	display: block;
}
.pics .items li .info .p1{
	color: #000;
	font-size: 14px;
}
.pics .items li .info .p2{
	color: #727171;
	font-size: 12px;
	line-height: 20px;
}
.pics .items li .info .p3{
	position: absolute;
	bottom: 30px;
	height: 24px;
	line-height: 24px;
}
.pics .items li .info .p3 a,
.pics .items li .info .p3 a:hover{
	background: #4daf7b;
	color: #fff;
	display: block;
	float: left;
	line-height: 24px;
	margin: 0 8px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/*960*/
.header,
.container,
.footer{
	min-width: 960px;
	width: 100%;
}
.header-inner,
.container-inner,
.footer-inner{
	width: 960px;
	margin: 0 auto;
}
.extra .extra-col1,
.extra .extra-col2{
	margin-right: 25px;
}
.extra .extra-col1{ width: 410px; }
.extra .extra-col2{ width: 250px; }
.extra .extra-col3{ width: 250px; }
.screen-change-btn .s-wide{
	display:inline;
}
.screen-change-btn .s-960{
	display:none;
}
.thl{
	margin-left: 320px; 
	width: 410px;
}
.thl .ctls .ipt{
	width: 360px;
}
.thl .subcate{
	left: 30px;
}
.thl .cate{
	left: 45px;
}
.nav{ font-size: 12px; }
.nav li a{ padding: 0 10px; }
.pics{
	height: 386px;
	width: 250px;
}
.pics .items li,
.pics img{
	height: 361px;
	width: 250px;
}
.pics .items li .info .p2{
	margin-top: 10px;
}
.pics .pg{
	top: 376px;
}
.pics .items li .info{
	width: 200px;
	padding: 25px 25px;
	height: 318px;
}
.pics .items li .info .p3{
	left: 25px;
	width: 200px;
}
.pics .items li .info .p3 a,
.pics .items li .info .p3 a:hover{
	width: 82px;
}


/*1175*/
.widescreen .header,
.widescreen .container,
.widescreen .footer{
	min-width: 1175px;
	width: 100%;
}
.widescreen .header-inner,
.widescreen .container-inner,
.widescreen .footer-inner{
	width: 1175px;
	margin: 0 auto;
}
.widescreen .extra .extra-col1,
.widescreen .extra .extra-col2{
	margin-right: 28px;
}
.widescreen .extra .extra-col1{ width: 500px; }
.widescreen .extra .extra-col2{ width: 308px; }
.widescreen .extra .extra-col3{ width: 306px; }

.widescreen .thl{
	margin-left: 400px; 
	width: 460px;
}
.widescreen .thl .ctls .ipt{
	width: 415px;
}
.widescreen .thl .subcate{
	left: 53px;
}
.widescreen .thl .cate{
	left: 87px;
	top: 34px;
}
.widescreen .nav{ font-size: 14px; }
.widescreen .nav li a{ padding: 0 20px; }
.widescreen .pics{
	height: 473px;
	width: 306px;
}
.widescreen .pics .items li,
.widescreen .pics img{
	height: 442px;
	width: 306px;
}
.widescreen .pics .items li .info .p2{
	margin-top: 20px;
}
.widescreen .pics .pg{
	top: 463px;
}
.widescreen .pics .items li .info{
	width: 250px;
	padding: 35px 30px;
	height: 378px;
}
.widescreen .pics .items li .info .p3{
	left: 30px;
	width: 260px;
}
.widescreen .pics .items li .info .p3 a,
.widescreen .pics .items li .info .p3 a:hover{
	width: 110px;
}
.widescreen .uc-avatar {
	float:right;
}
